@import "../../assets/styles/mixins";
.footer{
  background: url("/assets/img/footer_back.jpg") 50% 50% / 200px;
  padding: 70px 0;
  color:#fff;
  .cont{
    position: relative;
  }
  &__top{
    margin-bottom: 45px;
    .logo{
      font-size: size(30);
      color:#eee;
    }
  }
  &__row{
    display: flex;
    .col{
      width: 100%;
      max-width: 218px;
      &__title{
        font-size: size(16);
        font-weight: 700;
        margin-bottom:20px;
        a{
          &:hover{
            text-decoration: underline;
          }
        }
      }
      &__item{
        font-size: size(14);
        a{
          &:hover{
            text-decoration: underline;
          }
        }
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }
    }
  }
  &__bottom{
    margin-bottom: 80px;
  }
  &__social{
    margin-bottom: 100px;
    a{
      display: inline-block;
      margin-right: 50px;
    }
  }
  &__copyright{
    font-weight: 400;
    font-size: size(14);
  }
}
