@import "../../assets/styles/mixins";
/deep/ .header{
  padding-top: 64px;
  position: relative;
  z-index: 4;
  .notification{
    padding: 25px 15px 15px;
    position: absolute;
    top: 47px;
    left: 0;
    background: #fff;
    display: none;
    width: 400px;
    &__item{
      color:#000;
    }
    &__close{
      position: absolute;
      top: 3px;
      right: 8px;
    }
  }
  .header__top{
    background: url('/assets/images/header_img.png');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    padding: 9px 0;
    z-index: 1;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      @include linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.9));
    }
    .logged{
      margin-left:auto;
      margin-right: 15px;
      color:#fff;
      display: flex;
      align-items: center;
      .btns{
        margin:0 0 0 15px;
        display: flex;
        border-left:2px solid #fff;
        border-right:2px solid #fff;
        padding: 0 13px;
        .btn{
          position: relative;
          &__body{
            position: relative;
          }
          &:not(:last-child){
            margin-right: 15px;
          }
          .counter{
            position: absolute;
            top: -5px;
            right: -5px;
            border-radius: 50%;
            background: #F4811F;
            color:#fff;
            font-size: size(10);
            width: 12px;
            height: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .user{
        display: flex;
        align-items: center;
        .name{
          font-size: size(16);
        }
        .ava{
          overflow: hidden;
          border-radius: 50%;
          width: 34px;
          height: 34px;
          margin-right: 15px;
          img{
            width: 100%;
            display: block;
          }
        }
      }
    }
    .outline_btn{
      margin-left:auto;
      margin-right: 22px;
      font-size: size(14);
      font-family: 'LatoBold', sans-serif;
    }
    .cont{
      display: flex;
      align-items: center;
    }
    .logo{
      // margin-left: 30px;
      color: #fff;
    }
    .menu{
      position: relative;
      &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        display: none;
      }
      &.menu_open{
        .menu__body{
          opacity: 1;
          visibility: visible;
          top:44px;
        }
      }
      &__copy{
        text-align: center;
        color: #3d3f41;
        font-size: size(14);
      }
      &__social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        a:hover{
          .svg_color{
            fill: $theme_color!important;
          }
        }
      }
      &__body{
        z-index: 999;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        top: 32px;
        right: 0;
        background: #fff;
        padding: 60px 70px;
        color: $theme_color;
        width: 393px;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 10px 30px 0 rgba(53, 71, 90, 0.05);
        li{
          a{
            font-size: size(16);
            &:hover{
              text-decoration: underline;
            }
          }
          &:not(:last-child){
            margin-bottom: 10px;
          }
        }
      }
      &__icon{
        position: relative;
        width: 24px;
        height: 20px;
        cursor: pointer;
        .icon__line{
          position: absolute;
          left: 0;
          background: #fff;
          height: 4px;
          border-radius: 2px;
          width: 100%;
          &:nth-of-type(1){
            top: 0;
          }
          &:nth-of-type(2){
            top: 50%;
            margin-top: -2px;
          }
          &:nth-of-type(3){
            bottom: 0;
          }
        }
      }
    }
    .search{
      display: none;
      margin-left: 40px;
      max-width: 295px;
      width: 100%;
      position: relative;
      &.open{
        .wr_hide{
          overflow: visible;
        }
        .search__shadow{
          background: #fff;
          border-radius: 18px;
          box-shadow: 0 10px 30px 0 rgba(53, 71, 90, 0.05);
        }
      }
      .wr_hide{
        height: 30px;
        overflow: hidden;
      }
      &__input{
        position: relative;
      }
      img{
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translate(0, -50%);
      }
      input{
        display: inline-block;
        border-radius: 20px;
        background: rgba(255,255,255, 1);
        line-height: 30px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 45px;
        color:#000;
        border: none;
      }
      &__result{
        width: 100%;
        padding: 20px 40px 40px;
        box-sizing: border-box;
        border-radius: 0 0 18px 18px;
        background: #ffffff;
        box-shadow: 0 10px 30px 0 rgba(53, 71, 90, 0.05);
        .outline_btn{
          margin-top: 20px;
          font-size: size(12);
          padding: 3px 16px;
          border-width: 2px;
        }
        li{
          &:not(:last-child){
            margin-bottom: 16px;
          }
        }
        a{
          font-size: size(16);
          color: #3d3f41;
          &:hover{
            color: $theme_color;
          }
        }
      }
    }
  }
}
