@import "../../assets/styles/mixins";
.mobile_menu{
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    flex:1 ;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    a{
      text-align: center;
      display: block;
    }
  }
}
