<div class="header__menu menu" [class.menu_open]="is_open">
    <div class="menu__icon" (click)="open_menu()">
        <div class="icon__line"></div>
        <div class="icon__line"></div>
        <div class="icon__line"></div>
    </div>
    <div class="menu__body">
        <div class="menu__close">
            <img src="./assets/img/close_icon.svg" alt="">
        </div>
        <ul class="menu__item">
            <li *ngIf="!authService.signedIn()">
                <a (click)="signIn()">Log in</a>
            </li>
            <li *ngIf="authService.signedIn()">
                <a href="#">My pets</a>
            </li>
            <li *ngIf="authService.signedIn()">
                <a href="#">My cattery/ies</a>
            </li>
            <li *ngIf="authService.signedIn()">
                <a href="#">My profile</a>
            </li>
            <li *ngIf="authService.signedIn()">
                <a href="#">Change password</a>
            </li>
            <li>
                <a href="#">&nbsp;</a>
            </li>
            <li>
                <a href="#">Cats</a>
            </li>
            <li>
                <a href="#">Catteries</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Interesting</a>
            </li>
            <li>
                <a href="#">&nbsp;</a>
            </li>
            <li>
                <a href="#">Advance search</a>
            </li>
            <li>
                <a href="#">&nbsp;</a>
            </li>
            <li>
                <a href="#" [routerLink]="['/faq']">FAQ</a>
            </li>
            <li>
                <a href="#" [routerLink]="['/help']">Help</a>
            </li>
            <li>
                <a href="#" [routerLink]="['/support']">Support</a>
            </li>
            <li>
                <a href="#" [routerLink]="['/about']">About</a>
            </li>
            <li *ngIf="authService.signedIn()">
                &nbsp;
            </li>
            <li *ngIf="authService.signedIn()">
                <a (click)="signOut()">Log Out</a>
            </li>
        </ul>
        <div class="menu__social">
            <a href="#" target="_blank">
                <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g class="svg_color" transform="translate(-320.000000, -4258.000000)" fill="#D2D8E1">
                            <path d="M332.5,4258 C335.894814,4258 336.320493,4258.01439 337.653699,4258.07522 C338.984225,4258.13591 339.892843,4258.34723 340.687984,4258.65621 C341.509967,4258.97566 342.207061,4259.40307 342.901971,4260.09798 C343.596882,4260.79294 344.024297,4261.49004 344.343743,4262.31203 C344.652768,4263.10712 344.864045,4264.01579 344.924778,4265.34627 C344.985611,4266.67952 345,4267.1052 345,4270.50002 C345,4273.8948 344.985611,4274.32048 344.924778,4275.65373 C344.864045,4276.98421 344.652768,4277.89288 344.343743,4278.68797 C344.024297,4279.50996 343.596882,4280.20706 342.901971,4280.90202 C342.207061,4281.59693 341.509967,4282.02434 340.687984,4282.34379 C339.892843,4282.65277 338.984225,4282.86409 337.653699,4282.92478 C336.320493,4282.98561 335.894814,4283 332.5,4283 C329.105186,4283 328.679507,4282.98561 327.346301,4282.92478 C326.015775,4282.86409 325.107157,4282.65277 324.312016,4282.34379 C323.490033,4282.02434 322.792939,4281.59693 322.098029,4280.90202 C321.403118,4280.20706 320.975703,4279.50996 320.656257,4278.68797 C320.347232,4277.89288 320.135955,4276.98421 320.075222,4275.65373 C320.014389,4274.32048 320,4273.8948 320,4270.50002 C320,4267.1052 320.014389,4266.67952 320.075222,4265.34627 C320.135955,4264.01579 320.347232,4263.10712 320.656257,4262.31203 C320.975703,4261.49004 321.403118,4260.79294 322.098029,4260.09798 C322.792939,4259.40307 323.490033,4258.97566 324.312016,4258.65621 C325.107157,4258.34723 326.015775,4258.13591 327.346301,4258.07522 C328.679507,4258.01439 329.105186,4258 332.5,4258 Z M332.5,4265.5 C329.738588,4265.5 327.5,4267.73856 327.5,4270.50002 C327.5,4273.26144 329.738588,4275.5 332.5,4275.5 C335.261412,4275.5 337.5,4273.26144 337.5,4270.50002 C337.5,4267.73856 335.261412,4265.5 332.5,4265.5 Z M341.25,4263.625 C341.25,4262.58944 340.410513,4261.75 339.375031,4261.75 C338.339487,4261.75 337.5,4262.58944 337.5,4263.625 C337.5,4264.66056 338.339487,4265.5 339.375031,4265.5 C340.410513,4265.5 341.25,4264.66056 341.25,4263.625 Z"
                                id="Combined-Shape"></path>
                        </g>
                    </g>
                </svg>
            </a>
            <a href="#" target="_blank">
                <svg width="16px" height="33px" viewBox="0 0 16 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g class="svg_color" transform="translate(-400.000000, -4254.000000)" fill="#D2D8E1">
                            <path d="M410.385335,4271.94724 L415.102567,4271.94724 L415.80882,4266.0808 L410.385335,4266.0808 L410.385335,4262.33535 C410.385335,4260.63688 410.825621,4259.47946 413.099661,4259.47946 L416,4259.47801 L416,4254.23113 C415.498118,4254.15977 413.776679,4254 411.773772,4254 C407.592144,4254 404.729334,4256.73383 404.729334,4261.75453 L404.729334,4266.0808 L400,4266.0808 L400,4271.94724 L404.729334,4271.94724 L404.729334,4287 L410.385335,4287 L410.385335,4271.94724 Z"
                                id="Fill-16"></path>
                        </g>
                    </g>
                </svg>
            </a>
            <a href="#" target="_blank">
                <svg width="41px" height="26px" viewBox="0 0 41 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g class="svg_color" transform="translate(-470.000000, -4258.000000)" fill="#D2D8E1">
                            <path d="M506.487421,4268.68317 L506.487421,4264.17822 L503.264151,4264.17822 L503.264151,4268.68317 L498.622642,4268.68317 L498.622642,4271.90099 L503.264151,4271.90099 L503.264151,4276.53465 L506.487421,4276.53465 L506.487421,4271.90099 L511,4271.90099 L511,4268.68317 L506.487421,4268.68317 L506.487421,4268.68317 Z M483.022013,4268.42574 L483.022013,4273.57426 C483.022013,4273.57426 488.025044,4273.56756 490.062151,4273.56756 C488.959019,4276.90522 487.243723,4278.72277 483.022013,4278.72277 C478.749632,4278.72277 475.415094,4275.26516 475.415094,4271 C475.415094,4266.73484 478.749632,4263.27723 483.022013,4263.27723 C485.280881,4263.27723 486.739733,4264.06984 488.077906,4265.17458 C489.149063,4264.10524 489.059585,4263.95284 491.784796,4261.3836 C489.47139,4259.28147 486.396648,4258 483.022013,4258 C475.830123,4258 470,4263.82027 470,4271 C470,4278.1796 475.830123,4284 483.022013,4284 C493.771877,4284 496.399358,4274.65545 495.528302,4268.42574 L483.022013,4268.42574 L483.022013,4268.42574 Z"
                                id="GooglePlus"></path>
                        </g>
                    </g>
                </svg>
            </a>
            <a href="#" target="_blank">
                <svg width="32px" height="29px" viewBox="0 0 32 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g class="svg_color" transform="translate(-565.000000, -4256.000000)" fill="#D2D8E1">
                            <path d="M597,4285 L589.927563,4285 L589.927563,4274.80534 C589.927563,4272.1369 588.821261,4270.31523 586.388523,4270.31523 C584.527752,4270.31523 583.492944,4271.54453 583.011289,4272.72927 C582.830668,4273.15451 582.85889,4273.74688 582.85889,4274.33925 L582.85889,4285 L575.852305,4285 C575.852305,4285 575.942615,4266.94115 575.852305,4265.29961 L582.85889,4265.29961 L582.85889,4268.39143 C583.272813,4267.03957 585.511759,4265.1102 589.084666,4265.1102 C593.517404,4265.1102 597,4267.94391 597,4274.04585 L597,4285 L597,4285 Z M568.766698,4262.83544 L568.721543,4262.83544 C566.463782,4262.83544 565,4261.32945 565,4259.4205 C565,4257.47442 566.507056,4256 568.809972,4256 C571.111007,4256 572.52587,4257.47071 572.571025,4259.41493 C572.571025,4261.32388 571.111007,4262.83544 568.766698,4262.83544 L568.766698,4262.83544 L568.766698,4262.83544 Z M565.80715,4265.29961 L572.044214,4265.29961 L572.044214,4285 L565.80715,4285 L565.80715,4265.29961 L565.80715,4265.29961 Z"
                                id="LinkedIn"></path>
                        </g>
                    </g>
                </svg>
            </a>
            <a href="#" target="_blank">
                <svg width="28px" height="22px" viewBox="0 0 28 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g class="svg_color" transform="translate(-651.000000, -4259.000000)" fill-rule="nonzero" fill="#D2D8E1">
                            <path d="M659.80544,4281 C670.37152,4281 676.15072,4272.53528 676.15072,4265.19472 C676.15072,4264.95429 676.15072,4264.71495 676.13392,4264.47669 C677.258211,4263.69034 678.228718,4262.71669 679,4261.60133 C677.951545,4262.05056 676.839329,4262.34516 675.70048,4262.47531 C676.899713,4261.78109 677.797258,4260.6892 678.22608,4259.40284 C677.098416,4260.04989 675.864724,4260.50589 674.57824,4260.75118 C672.797533,4258.92025 669.968006,4258.47213 667.676295,4259.65808 C665.384585,4260.84404 664.200628,4263.36914 664.78832,4265.81744 C660.169323,4265.59353 655.865813,4263.48393 652.9488,4260.01365 C651.424057,4262.55182 652.202866,4265.79888 654.72736,4267.42894 C653.81315,4267.40274 652.918873,4267.16427 652.12,4266.73366 C652.12,4266.7564 652.12,4266.78023 652.12,4266.80405 C652.120748,4269.4483 654.048362,4271.72578 656.7288,4272.24937 C655.883054,4272.4724 654.99569,4272.50501 654.13488,4272.34468 C654.887462,4274.60752 657.044164,4276.15768 659.50192,4276.20232 C657.467703,4277.74822 654.954787,4278.58743 652.36752,4278.58491 C651.910452,4278.58406 651.453829,4278.5573 651,4278.50477 C653.627112,4280.13498 656.683903,4280.99969 659.80544,4280.99567"
                                id="Shape"></path>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <div class="menu__copy">
            TabbyBook, Inc © 2017 All rights reserved
        </div>
    </div>
</div>
