@font-face {
  font-family: "LatoRegular";
  src: url("/assets/fonts/Lato/LatoRegular/LatoRegular.eot");
  src: url("/assets/fonts/Lato/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/Lato/LatoRegular/LatoRegular.woff") format("woff"),
  url("/assets/fonts/Lato/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url("/assets/fonts/Lato/LatoBold/LatoBold.eot");
  src: url("/assets/fonts/Lato/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/Lato/LatoBold/LatoBold.woff") format("woff"),
  url("/assets/fonts/Lato/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoItalic";
  src: url("/assets/fonts/Lato/LatoItalic/LatoItalic.eot");
  src: url("/assets/fonts/Lato/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/Lato/LatoItalic/LatoItalic.woff") format("woff"),
  url("/assets/fonts/Lato/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoLight";
  src: url("/assets/fonts/Lato/LatoLight/LatoLight.eot");
  src: url("/assets/fonts/Lato/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/Lato/LatoLight/LatoLight.woff") format("woff"),
  url("/assets/fonts/Lato/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoBoldItalic";
  src: url("/assets/fonts/Lato/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("/assets/fonts/Lato/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/Lato/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
  url("/assets/fonts/Lato/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoLightItalic";
  src: url("/assets/fonts/Lato/LatoLightItalic/LatoLightItalic.eot");
  src: url("/assets/fonts/Lato/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/Lato/LatoLightItalic/LatoLightItalic.woff") format("woff"),
  url("/assets/fonts/Lato/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}