body,html{
  font-size: #{$def_font}px;
  font-family: 'LatoRegular', sans-serif;
  font-weight: 400;
  background: #EDEFF2;
}
body{
  &.open_modal{
    height: 100%;
    overflow: hidden;
  }
}
.relative{
  position: relative;
}
.cont{
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.jc-s{
  justify-content: space-between;
}
.pl-0{
  padding-left:0 !important;
}
.w-33{
  width: 33%;
}
.w-50{
  width: 48%;
}
.w-100{
  width: 100%;
}
.mb-10 {
  margin-bottom: 10px;
}

a{
  cursor: pointer;
}
// reset bootstrap styles
.modal-dialog{
  display: inline-block;
  max-width: 100%;
}
.modal{
  text-align: center;
  .modal-content{
    text-align: left;
  }
}
.modal-content{
  background: transparent;
}
