@import "../mixins";
.open_pop{
  cursor: pointer;
}
.pop_up{
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 15px;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 100%;
  &.overflow__auto{
    overflow: auto;
  }
  &_wr{
    z-index: 9999;
    position: fixed;
    width: 90%;
    max-width: 570px;
    top: 50%;
    left: 50%;
    //display: none;
    transform: translate(-50%, -50%);
    &--new{
      width: 430px;
    }
    &--register{
      width: 675px;
      height: 100%;
    }
  }
  .go_cat_page{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    @include linear-gradient(rgb(216, 132, 61), rgb(136, 77, 57));
    color: #fff;
    display: block;
    font-size: size(16);
    border-radius: 50px;
    cursor: pointer;
  }

  .qt_btn{
    &--white{
      padding: 5px 9px;
      &:hover{
        background: #F2F3F4;
      }
    }
    border-radius: 50px;
    background: transparent;
    cursor: pointer;
    color: #B5B2AC;
    align-items: center;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    font-size: size(12);
    margin-left: 10px;
    &.flw__btn{
      margin-right: 64px;
    }
    img{
      vertical-align: middle;
    }
  }
  .gold{
    color:#D17E3D;
  }
  &__top{
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    .close{
      display: none;
    }
    .title{
      padding-left: 25px;
    }
    .tools{
      margin-left: auto;
    }
  }
  &__info{
    width: 31%;
    box-sizing: border-box;
    padding: 10px 0 0 10px;
    font-size: size(11);
    .info_row{
      margin-bottom: 7px;
      position: relative;
      &:last-child{
        margin-bottom: 0;
      }
      &__icon{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        .text{
          position: absolute;
          bottom: 7px;
          white-space: nowrap;
          display: none;
          right: 0;
          background: #fff;
          padding: 5px 10px;
          box-shadow: 0 0 10px 0 #ccc;
          z-index: 2;
        }
        img+img{
          margin-left: -15px;
        }
        &:hover{
          .text{
            display: block;
          }
        }
      }
      &--br{
        text-align: center;
        .title{
          color:#D17E3D;
        }
      }
    }

  }
  &__image{
    width: 69%;
    .items{
      .item{
        display: inline-block;
        overflow: hidden;
        border-radius: 10px;
        img{
          max-width: 100%;
          display: block;
        }
      }
    }

  }
  &__back{
    display: none;
    background: rgba(35,31,32, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9998;
    top: 0;
    left: 0;
  }
  // new design
  &--new{
    display: block;
    padding: 20px 25px;
    .title{
      padding-left: 0;
    }
    ::-webkit-input-placeholder {
      color: #B5B2AC;
    }
    ::-moz-placeholder {
      color: #B5B2AC;
    }
    :-ms-input-placeholder {
      color: #B5B2AC;
    }
    :-moz-placeholder {
      color: #B5B2AC;
    }
    form{
      padding: 0 25px;
    }
    input[type=text], input[type=password]{
      display: block;
      border:none;
      padding: 9px 20px;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      border-radius: 50px;
      background: #F2F3F4;
      color: #B5B2AC;
      font-size: size(14);
    }
    .input_row{
      &:not(:last-child){
        margin-bottom:30px;
      }
      &.is_invalid{
        ::-webkit-input-placeholder {
          color: #000;
        }
        ::-moz-placeholder {
          color: #000;
        }
        :-ms-input-placeholder {
          color: #000;
        }
        :-moz-placeholder {
          color: #000;
        }
        input{
          background: #ffe7e7;
          color:#000;
        }
        .err{
          color: red;
          display: block;
        }
      }
      &--submit{
        text-align: center;
      }
    }
    .submit_btn{
      margin: 0 0 15px 0 ;
      text-align: center;
      padding: 10px 20px;
      display: inline-block;
      font-size: size(16);
      border-radius: 50px;
      cursor: pointer;
      box-sizing: border-box;

    }
    .err{
      padding: 5px 20px 0;
      display: none;
      &__message{
        padding: 0 0 20px 0;
        margin: 0;
        &.error{
          color:red;
        }
        &.success{
          color:var(--green);
        }
      }
    }
    .social{
      text-align: center;
      color: #929497;
      font-size: size(14);
      margin-top: 35px;
      .text{
        padding-top: 35px;
        span{
          display: inline-block;
        }
        .sign_up{
          color:$theme_color_dark;
          margin-left:35px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .title{
        margin-bottom: 8px;
      }
      a{
        display: inline-block;
        &:not(:last-child){
          margin-right:25px;
        }
      }
    }
    .pop_up{
      &__top{
        display: flex;
        justify-content: space-between;
        .close{
          cursor: pointer;
          &:hover{
            opacity: .8;
          }
        }
        .title{
          font-family: 'LatoBold', sans-serif;
        }
      }
      &__body{
        width: 100%;
        .top{
          padding: 15px 0 30px;
          text-align: center;
        }
      }
    }
  }

  // register
  &--register{
    .social{
      margin-bottom: 30px;
    }
    select{
      display: block;
      border:none;
      padding: 9px 30px 9px 20px;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      border-radius: 50px;
      background: #F2F3F4 url("/assets/img/select__icon.svg") calc(100% - 15px) 50% no-repeat;
      color: #B5B2AC;
      font-size: size(12);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .form_row{
      margin-bottom: 10px;
      &.multi_row{
        flex-wrap: wrap;

      }
      .input_row{
        .vertical_middle{
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
        }
        &:not(:last-child){
          margin-bottom: 10px;
        }
        .label{
          padding: 0 20px 5px;
          position: relative;
          color:#B5B2AC;
        }
        &.text_right{
          display: flex;
          justify-content: flex-end;
        }
        &.required{
          &.is_invalid{
            .label{
              color: red;
            }
          }
          .label{
            color: #CF7728;
          }
        }
        &--zip{
          .inps{
            display: flex;
            .zip{
              padding-left: 20px;
            }
          }
        }
        &--birthday{
          .inps{
            display: flex;
            justify-content: space-between;
            .inp{
              &:nth-of-type(3){
                select{
                  padding-right: 40px;
                }
              }
              &:not(:last-child){
                margin-right: 8px;
              }
            }
          }
        }
      }
      &.d_flex{
        display: flex;
        justify-content: space-between;
        .left_col, .right_col{
          width: 48%;
        }
        .img{
          text-align: center;
          margin-bottom: 30px;
        }
        .load_image{
          margin: 60px auto 0 ;
          border-radius: 50%;
          border: 4px solid #B5B2AC;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 185px;
          height: 185px;
          flex-direction: column;
          font-size: size(25);
          color: #B5B2AC;
          cursor: pointer;
          overflow: hidden;
          position: relative;
          &--square{
            border-radius: 10px;
            border-width: 2px;
            width: 122px;
            height: 84px;
            margin: 10px 0 0 0;
          }
          img{
            max-width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &+input{
            display: none;
          }
          p{
            font-size: 40px;
          }
        }
      }
    }
  }
}


.cnt_menu{
  position: relative;
  &.open{
    .cnt_menu__body{
      display: block;
    }
  }
  &__icon{
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background: #fff;
    &:hover{
      background: #f9f9f9;
    }
  }
  &__body{
    z-index: 2;
    display: none;
    box-shadow: 0 0 10px 0 #dedede;
    position: absolute;
    top: 20px;
    right: 0;
    background: #fff;
    padding: 10px 0;
    ul{
      li{
        display: block;
      }
      a{
        padding: 5px 20px;
        color: #6f6f6f;
        display: block;
        font-family: 'LatoLight' , sans-serif;
        font-size: size(14);
        &:hover{
          background: #f9f9f9;
        }
      }
    }
  }
  img{
    display: block;
  }
}
#cat_item{
  width: 570px;
  line-height: 1.2;
  .parent_tr{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
    $border-size: 10px;
    .item_line__connect{
      position: absolute;
      top: -25px;
      height: 10px;
      background: #A58EA0;
      left:50%;
      margin-left: -1px;
      width: 2px;
    }
    .item_line__top{
      position: absolute;
      width: calc(100% - 20px);
      height: 2px;
      max-width: 300px;
      background: rgb(199,172,119);
      background: -moz-linear-gradient(left, rgba(199,172,119,1) 0%, rgba(165,142,160,1) 50%, rgba(165,142,160,1) 50%, rgba(199,172,119,1) 100%);
      background: -webkit-linear-gradient(left, rgba(199,172,119,1) 0%,rgba(165,142,160,1) 50%,rgba(165,142,160,1) 50%,rgba(199,172,119,1) 100%);
      background: linear-gradient(to right, rgba(199,172,119,1) 0%,rgba(165,142,160,1) 50%,rgba(165,142,160,1) 50%,rgba(199,172,119,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7ac77', endColorstr='#c7ac77',GradientType=1 );
      top: -25px;
      left: 50%;
      transform: translate(-50%, 0);
      &:after, &:before{
        content: '';
        position: absolute;
        bottom: 0;
        width: $border-size;
        height: $border-size;
        border: 2px solid rgb(199,172,119);
        border-top: none;
      }
      &:after{
        border-left: none;
        right: -#{$border-size};
        border-radius: 0 0 $border-size 0;
      }
      &:before{
        border-right: none;
        left: -#{$border-size};
        border-radius: 0 0 0 $border-size;
      }
    }
    .item_line__bottom{
      position: absolute;
      width: calc(50% - 20px);
      height: 2px;
      background: rgb(139,178,213);
      background: -moz-linear-gradient(left, rgba(139,178,213,1) 0%, rgba(198,106,103,1) 100%);
      background: -webkit-linear-gradient(left, rgba(139,178,213,1) 0%,rgba(198,106,103,1) 100%);
      background: linear-gradient(to right, rgba(139,178,213,1) 0%,rgba(198,106,103,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bb2d5', endColorstr='#c66a67',GradientType=1 );
      top: -#{$border-size + ($border-size / 2)};
      left: calc(25% + 10px);
      &:after, &:before{
        content: '';
        position: absolute;
        top: 0;
        width: $border-size;
        height: $border-size;
        border: 2px solid #000;
        border-bottom: none;
      }
      &:after{
        border-left: none;
        right: -#{$border-size};
        border-radius: 0 $border-size 0 0;
        border-color: rgba(198,106,103,1);
      }
      &:before{
        border-right: none;
        left: -#{$border-size};
        border-radius: $border-size 0 0 0;
        border-color: rgba(139,178,213,1);
      }
    }
    .item{
      flex:1 1;
      position: relative;
      &__icon{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 16px;
        height: 16px;
      }
      &__name{
        text-align: center;
        font-size: size(9);
        p{
          font-family: 'LatoLight', sans-serif;
        }
      }
      &--male{
        color:#7BB6D9;
      }
      &--female{
        color:#DF716E;
      }
    }
    .img{
      width: 85%;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
    }
    img{
      display: block;
      max-width: 100%;
    }
  }
}

.breeder_info{
  text-align: center;
  color: $theme_color_dark;
  font-size: size(14);
  margin-bottom: 20px;
  &.show{
    .breeder_info__text{
      display: none;
    }
    .breeder_info__btn span{
      transform: rotate(180deg);
    }
  }
  &__body{
    text-align: left;
  }
  &__btn{
    padding-top: 14px;
    span{
      width: 35px;
      height: 35px;
      display: inline-block;
      position: relative;
      border:2px solid $theme_color_dark;
      border-radius: 50%;
      cursor: pointer;
      &:hover{
        background: rgba(168, 69, 33, 0.1);
      }
      &:after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        background: url("/assets/img/arrow_left.svg") no-repeat 11px 50%/10px;
      }
    }
  }
}
