// bg
.cattery_1{
  background: url("/assets/images/cattery_bg.jpg")!important ;
}
.pattern_1{
  background-color: rgba(209, 198, 180, 1)!important;
  background-image: url("/assets/images/cattery_pattern_1.png")!important;
}