
section, header, article, footer, nav, aside, menu{
  display: block;
}
body {
  padding: 0;
  margin: 0;


}
h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code, menu {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
}
table {
  font-size: inherit;
  font: 100%;
}
ul {
  list-style: none;
}
img {
  border: 0;
}
p , span{
  margin: 0;
  line-height: 1em;
}
a{
  color: inherit;
  text-decoration: none;
  &:hover{
    color:inherit;
  }
}
.clear{
  clear:both!important;
  float: none!important;
}
.browsehappy{
  color:red;
  font-size: 20px;
}
*:focus{
  outline: none;
}
