
.outline_btn{
  line-height: 1;
  display: inline-block;
  color:#fff;
  border-radius: 50px;
  border: 4px solid #fff;
  box-sizing: border-box;
  padding: 10px 26px;
  &:not(.disable_btn):hover{
    cursor: pointer;
    color: $theme_color;
    background: #fff;
  }
  &--white{
    background: #fff;
    color: #686E78;
  }
  &--red{
    color: $theme_color;
    border-color: $theme_color;
    &:hover{
      background: $theme_color;
      color:#fff;
    }
  }
}
.qt_btn{
  &--gold{
    @include linear-gradient(#f58220, #994120);
    color: #fff;
    border: none;
  }
}

.qt_select{
  cursor: pointer;
  display: block;
  border:none;
  padding: 9px 30px 9px 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border-radius: 50px;
  background: #F2F3F4 url("/assets/img/select__icon.svg") calc(100% - 15px) 50% no-repeat;
  color: #B5B2AC;
  font-size: size(12);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-overflow: ellipsis;
  overflow: hidden;
}
