<div class="search_options__row">
  <div class="search_options__col w-50">
    <t-select>
      <div #title>Main color</div>
      <select name="main_color"
              [(ngModel)]="model.color"
              (ngModelChange)="pick_params($event)">
        <option *ngFor="let item of color" [ngValue]="item" >{{item.color_rus}}</option>
      </select>
    </t-select>
  </div>
  <div class="search_options__col w-50">
    <div class="search_options__row">
      <div class="search_options__col w-75">
        <t-select>
          <div #title>Silver/Gold</div>
          <select name="pattern"
                  [(ngModel)]="model.silver_gold_color"
                  (ngModelChange)="pick_params($event)"
                  [disabled]="picked.white || picked.shaded">
            <option *ngFor="let color of silver_gold_color | filterSilver: model.smoke" [ngValue]="color.value" >{{color.title_en}}</option>
          </select>
        </t-select>
      </div>
      <div class="search_options__col w-25">
        <t-checkbox>
          <div #title>Smoke</div>
          <input type="checkbox" name="smoke"
                 [(ngModel)]="model.smoke"
                 (ngModelChange)="pick_params($event, 'smoke')"
                 [disabled]="picked.white || (picked.tabby || picked.shaded) ">
        </t-checkbox>
      </div>
    </div>
  </div>
</div>
<div class="search_options__row">
  <div class="search_options__col w-50">
    <t-select>
      <div #title>Tabby</div>
      <select name="pattern"
              [(ngModel)]="model.pattern"
              (ngModelChange)="pick_params($event)"
              [disabled]="picked.white || (picked.smoke && !picked.silver)">
        <option *ngFor="let item of pattern | filterPatterns: false : picked.point : {exclude: ['shaded', 'shell'], exception: [null, 'tabby_3']}" [ngValue]="item" >{{item.title_en}}</option>
      </select>
    </t-select>
  </div>
  <div class="search_options__col w-50">
    <t-select>
      <div #title>Point color</div>
      <select name="pattern"
              [(ngModel)]="model.point_color"
              (ngModelChange)="pick_params($event)"
              [disabled]="picked.white">
        <option *ngFor="let item of point_color" [ngValue]="item" >{{item.title_en}}</option>
      </select>
    </t-select>
  </div>
</div>
<div class="search_options__row">
  <div class="search_options__col w-50">
    <t-select>
      <div #title>White spots</div>
      <select name="pattern"
              [(ngModel)]="model.whitespot"
              (ngModelChange)="pick_params($event)"
              [disabled]="picked.white">
        <option *ngFor="let item of whitespot" [ngValue]="item" >{{item.title_en}}</option>
      </select>
    </t-select>
  </div>
  <div class="search_options__col w-50">
    <div class="search_options__row">
      <div class="search_options__col w-50">
        <t-select>
          <div #title>Eyes color</div>
          <select name="pattern"
                  [(ngModel)]="model.eyes"
                  (ngModelChange)="pick_params($event)"
                  [disabled]="picked.silver || picked.point">
            <option *ngFor="let eyes_item of eyes" [ngValue]="eyes_item.svg" >{{eyes_item.title_en}}</option>
          </select>
        </t-select>
      </div>
      <div class="search_options__col w-50">
        <t-select>
          <div #title>Odd Eyes</div>
          <select name="pattern"
                  [(ngModel)]="model.odd_eye"
                  (ngModelChange)="pick_params($event)"
                  [disabled]="picked.white">
            <option *ngFor="let item of odd_eye" [ngValue]="item" >{{item.title_en}}</option>
          </select>
        </t-select>
      </div>
    </div>
  </div>
</div>

<!--<div class="search_options__row">
  <div class="search_options__col w-50">

  </div>
  <div class="search_options__col w-50">
    <t-select>
      <div #title>Breed</div>
      <select name="main_color"
              (ngModelChange)="pick_params($event)"
              [(ngModel)]="model.breed">
        <option *ngFor="let item of breed" [ngValue]="item" >{{item.title_en}}</option>
      </select>
    </t-select>
  </div>
</div>-->


