:host{
  display: block;
  width: calc(100% + 40px);
  padding-top: calc(100% + 40px);
  margin: 0 -20px;
  position: relative;
}
.cat-constructor{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &__view{
    width: 100%;
    height: 100%;
  }
  .cat-constructor__options{
    // options item
    display: none;
    .item{
      display: flex;
      align-items: center;
      width: 400px;
      &__title{
        padding-right: 20px;
        font-size: 16px;
        width: 30%;
      }
      &__body{
        width: 70%;
        select{
          display: block;
          width: 100%;
        }
      }
    }
  }
}
.code{
  //margin-top: 10px;
  color: #d2ac67;
}
