<div class="" id="cat_item" *ngIf="petCardData">
    <div class="pop_up">
        <div class="pop_up__top">
            <span class="title">{{petCardData.name}}</span>
            <div class="tools">
                <span class="qt_btn qt_btn--white flw__btn">
                    <img src="/assets/img/checked.svg" alt="">Follow
                </span>
                <span class="qt_btn qt_btn--white">
                    <img src="/assets/img/arrow_up.svg" alt=""> Send
                </span>
                <span class="qt_btn">
                    <div class="cnt_menu">
                        <div class="cnt_menu__icon">
                            <img src="/assets/img/menu_icon.svg" alt="">
                        </div>
                        <div class="cnt_menu__body">
                            <ul>
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </span>
            </div>
            <span class="close"><img src="/assets/img/close_icon.svg" alt=""></span>
        </div>
        <div class="pop_up__image">
            <div class="items">
                <div class="item">
                    <img [src]="petCardData.profileImageUrl?petCardData.profileImageUrl:'/assets/images/cat_modal.png'" alt="">
                </div>
            </div>

        </div>
        <div class="pop_up__info">
            <div class="info_row">
                <b>Sex :</b>
                {{petCardData.sex}}
            </div>
            <div class="info_row">
                <b>Age :</b>
                {{petCardData.age}}
            </div>
            <div class="info_row">
                <b>Breed :</b>
                {{petCardData.breed}}
                <div class="info_row__icon">
                    <div class="text">Some text</div>
                    <img src="/assets/img/g_card_icon.svg" alt="">
                </div>
            </div>
            <div class="info_row">
                <b>Cattery :</b>
                <span class="gold">{{petCardData.cattery}}</span>
                <div class="info_row__icon">
                    <div class="text">Some text</div>
                    <img src="/assets/img/g_cert_icon.svg" alt="">
                    <img src="/assets/img/g_cert_icon.svg" alt="">
                </div>
            </div>
            <div class="info_row">
                <b>Price :</b>
                <span class="gold">{{petCardData.price | currency:'$'}}</span>
            </div>
            <div class="info_row">
                <b>Color :</b>
                {{petCardData.color}}
            </div>
            <div class="info_row  info_row--br">
                <img src="/assets/images/calc_br.svg" alt="">
                <div class="title">
                    {{petCardData.colorCode}}
                </div>
            </div>
            <div class="info_row">
                <b>Description: </b>
                {{petCardData.description}}
            </div>
            <div class="info_row">
                <div class="parent_tr">
                    <div class="item_line__top"></div>
                    <div class="item_line__connect"></div>
                    <div class="item_line__bottom"></div>
                    <div class="item item--male">
                        <img class="item__icon" src="/assets/img/male_category_icon.svg" alt="">
                        <div class="img">
                            <img [src]="petCardData.father.profileImageUrl?petCardData.father.profileImageUrl:'/assets/images/cat_modal.png'" alt="">
                        </div>
                        <div class="item__name">
                            <b>{{petCardData.father.name}}</b>
                            <p>{{petCardData.father.colorCode}}</p>
                        </div>
                    </div>
                    <div class="item item--female">
                        <img class="item__icon" src="/assets/img/female_category_icon.svg" alt="">
                        <div class="img">
                            <img [src]="petCardData.mother.profileImageUrl?petCardData.mother.profileImageUrl:'/assets/images/cat_modal.png'" alt="">
                        </div>
                        <div class="item__name">
                            <b>{{petCardData.mother.name}}</b>
                            <p>{{petCardData.mother.colorCode}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info_row">
                <a href="#" class="go_cat_page">Visit Cat Page</a>
            </div>
        </div>
    </div>
</div>
