<app-advance-search></app-advance-search>

<app-breed-description *ngIf="show_panel" (close_breed_panel)="toggle_panel()" [model]="picked_breed_model" ></app-breed-description>

<div class="search_category" [hidden]="show_panel">
  <div class="cont">
    <div class="search_category__top">
      <div class="slogan">
        The best way to find <span>your purring friend</span>
      </div>
      <div class="search_form">
        <app-search-form></app-search-form>
      </div>
    </div>
    <app-breed-slider (picked_breed)="show_breed_panel($event)"></app-breed-slider>
  </div>
</div>

<section class="filter">
  <div class="cont">
    <div class="filter__top">
      <a href="#" class="active">Kittens for Sale</a>
      <a href="#">Catteries</a>
      <a href="#">Cat News</a>
      <a href="#">All</a>
    </div>
    <div class="filter__bottom">
      <div class="grid" infiniteScroll debounce [infiniteScrollDistance]="2"
            [infiniteScrollUpDistance]="2"
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="300"
            (scrolled)="onScroll()"
            (scrolledUp)="onScroll()">
        <ng-masonry-grid
          [masonryOptions]="{
            transitionDuration: '0.4s',
            horizontalOrder: true,
            gutter: 20
          }"
          [useAnimation]="true"
          [useImagesLoaded]="true"
          class="grid">
          <div class="grid__col-sizer"></div>
          <div class="grid__gutter-sizer"></div>
            <ng-masonry-grid-item id="{{'masonry-item-'+ (i)}}" *ngFor="let item of galleryItems; let i = index;" class="grid__item" [ngClass]="{'grid__item--width2':item.cattery}">
              <div class="item__cat" *ngIf="item.pet" (click)="showPetsCard(item.pet.id)">
                <div class="item__cat__image">
                  <img [src]="item.pet.petProfileImagePath?item.pet.petProfileImagePath:item.src" alt="No image" />
                </div>
                <div class="item__cat__body">
                  <div class="title">{{item.pet.name}}</div>
                  <img class="item__cat__gender" src="/assets/img/male_category_icon.svg" alt="">
                </div>
              </div>
              <div class="item__article item__article--cattery pattern_1" *ngIf="item.cattery">
                <div class="image">
                    <img src="/assets/images/cattaries_1.png" alt="">
                </div>
                <div class="article_rating">
                    <svg width="16px" height="13px" viewBox="0 0 16 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g transform="translate(-231.000000, -1670.000000)" >
                            <g class="svg_color svg_color--light" transform="translate(192.000000, 1670.452700)" fill="#403F41">
                                <path d="M43.5613,12.1187 C43.5026,12.1153 43.4437,12.1124 43.385,12.1076 C43.0562,12.0807 42.7546,11.9866 42.4867,11.8168 C42.0249,11.5237 41.7293,11.1336 41.6117,10.6432 C41.5677,10.459 41.5552,10.2728 41.5689,10.0851 C41.5839,9.8646 41.634,9.6508 41.714,9.4419 C41.8415,9.1083 42.034,8.8058 42.2775,8.5269 C42.4612,8.3166 42.669,8.1261 42.8977,7.9532 C43.112,7.7916 43.3068,7.6127 43.4888,7.4237 C43.7181,7.185 43.9256,6.9321 44.1305,6.6779 C44.3117,6.4528 44.4897,6.2263 44.6819,6.0089 C44.8264,5.8448 44.9789,5.6866 45.149,5.5423 C45.3616,5.362 45.5963,5.2092 45.8727,5.11 C46.0802,5.0357 46.2956,4.9963 46.5201,4.9921 C46.7735,4.987 47.0241,5.0091 47.2707,5.0618 C47.648,5.1432 47.9751,5.3039 48.2566,5.538 C48.4494,5.6988 48.6124,5.8808 48.7637,6.0712 C48.9245,6.2731 49.0722,6.4826 49.2244,6.6895 C49.3962,6.9225 49.5733,7.1515 49.7715,7.3684 C49.9688,7.5847 50.1865,7.7839 50.4243,7.9662 C50.7117,8.1867 50.9668,8.4325 51.1843,8.7083 C51.3694,8.9447 51.5204,9.1962 51.6259,9.468 C51.7081,9.6797 51.7597,9.8963 51.7727,10.12 C51.7929,10.4598 51.726,10.7847 51.5499,11.0903 C51.3872,11.3737 51.1514,11.6011 50.8554,11.7816 C50.6377,11.9146 50.403,12.0155 50.1442,12.0716 C50.0529,12.0917 49.96,12.1062 49.8659,12.1141 C49.8528,12.1153 49.8403,12.1173 49.8276,12.119 C49.8154,12.1252 49.8018,12.1207 49.7888,12.1221 C49.7783,12.1232 49.7666,12.119 49.7567,12.1249 C49.6762,12.1249 49.596,12.1249 49.5158,12.1249 C49.5061,12.119 49.4954,12.1232 49.4852,12.1221 C49.4758,12.1221 49.4667,12.1221 49.4577,12.1221 C49.45,12.1221 49.4418,12.1221 49.4344,12.1221 C49.2286,12.1161 49.0294,12.0787 48.8304,12.0382 C48.4933,11.9693 48.1631,11.8789 47.8277,11.804 C47.5562,11.7437 47.2826,11.6946 47.004,11.6668 C46.811,11.6473 46.6174,11.6453 46.424,11.651 C46.2698,11.6555 46.1165,11.6765 45.9645,11.7011 C45.6649,11.7505 45.371,11.8213 45.077,11.8916 C44.766,11.9665 44.4551,12.0407 44.1368,12.0864 C44.0072,12.1048 43.8774,12.1204 43.7459,12.1192 C43.7189,12.119 43.692,12.1226 43.6648,12.1221 C43.6299,12.1204 43.5956,12.1258 43.5613,12.1187 Z M49.5019,0.4343 C49.9353,0.4796 50.2664,0.6727 50.5192,0.9771 C50.6924,1.186 50.8016,1.4199 50.869,1.6702 C50.9269,1.8859 50.9487,2.1044 50.9405,2.3258 C50.9252,2.7326 50.8163,3.119 50.6148,3.4855 C50.4753,3.7392 50.295,3.9682 50.0654,4.1658 C49.861,4.3413 49.6294,4.4816 49.3596,4.5692 C49.1697,4.6304 48.9746,4.6607 48.7725,4.6502 C48.4227,4.6327 48.1257,4.5108 47.8759,4.2979 C47.6631,4.1162 47.5182,3.8965 47.4176,3.6533 C47.3476,3.4835 47.3036,3.308 47.2809,3.1289 C47.2651,3.0059 47.2588,2.8828 47.2634,2.7601 C47.2736,2.4695 47.3331,2.1869 47.4408,1.9125 C47.5551,1.6203 47.7172,1.351 47.9383,1.11 C48.1245,0.9074 48.342,0.7359 48.603,0.6094 C48.7946,0.5165 48.999,0.4561 49.2176,0.4346 C49.2244,0.4311 49.2315,0.4326 49.2383,0.4323 C49.2454,0.4323 49.2522,0.4323 49.259,0.4323 C49.2692,0.4311 49.2797,0.4354 49.2887,0.4292 C49.3363,0.4292 49.3831,0.4292 49.4307,0.4292 C49.4398,0.4354 49.4503,0.4311 49.4602,0.4323 C49.4673,0.4323 49.4738,0.4323 49.4812,0.4323 C49.4877,0.4323 49.4951,0.4309 49.5019,0.4343 Z M39.5341,4.9184 C39.5409,4.8025 39.5648,4.6888 39.5993,4.5768 C39.6665,4.3594 39.7768,4.161 39.9483,3.9912 C40.1402,3.8018 40.3772,3.6791 40.6612,3.6298 C40.8917,3.5898 41.1193,3.6071 41.3429,3.6672 C41.6,3.7369 41.8274,3.8551 42.0295,4.0093 C42.3436,4.2477 42.5686,4.5411 42.7245,4.877 C42.8062,5.0528 42.8626,5.235 42.8938,5.4227 C42.9088,5.514 42.9162,5.6055 42.9181,5.6976 C42.9218,5.8725 42.902,6.0446 42.8524,6.2135 C42.7863,6.4395 42.6755,6.645 42.4983,6.8207 C42.2951,7.0226 42.0417,7.1481 41.7381,7.1912 C41.5153,7.223 41.2959,7.2017 41.0816,7.141 C40.7933,7.0588 40.5461,6.918 40.3287,6.7357 C40.1161,6.5582 39.9474,6.3522 39.8162,6.1231 C39.6872,5.8983 39.5982,5.6614 39.5554,5.4122 C39.548,5.3683 39.5418,5.324 39.535,5.2801 C39.5296,5.26 39.5319,5.2396 39.5262,5.2194 C39.5237,5.2112 39.5251,5.2033 39.5248,5.1945 C39.5228,5.184 39.5285,5.1727 39.5208,5.1619 C39.5208,5.108 39.5208,5.0545 39.5208,5.0006 C39.5324,4.9856 39.5268,4.9691 39.5282,4.9535 C39.529,4.9416 39.5256,4.9292 39.5341,4.9184 Z M42.5769,2.3272 C42.5783,2.0066 42.6301,1.7172 42.7526,1.4389 C42.845,1.2285 42.9717,1.0361 43.1483,0.8705 C43.3385,0.6917 43.5644,0.5635 43.8369,0.5031 C44.1093,0.4425 44.3771,0.4598 44.6405,0.5431 C44.8723,0.6168 45.0745,0.733 45.2542,0.8796 C45.541,1.1134 45.7466,1.3958 45.8928,1.7121 C45.9858,1.9134 46.0499,2.1214 46.0864,2.3357 C46.1071,2.4574 46.119,2.5801 46.1219,2.7034 C46.125,2.8587 46.1139,3.0135 46.0844,3.1669 C46.0238,3.4872 45.8996,3.7857 45.6785,4.0496 C45.541,4.2131 45.3738,4.3483 45.1689,4.4459 C44.9398,4.5547 44.6943,4.6003 44.435,4.5828 C44.2003,4.5669 43.984,4.4997 43.7821,4.3948 C43.5188,4.2585 43.3056,4.0742 43.1282,3.8574 C42.9179,3.6 42.7733,3.3151 42.6817,3.0093 C42.6316,2.8417 42.5995,2.6717 42.5851,2.499 C42.5791,2.4344 42.5743,2.3692 42.5769,2.3272 Z M54.0742,5.1063 C54.0742,5.1185 54.0742,5.131 54.0742,5.1435 C54.058,5.4527 53.9636,5.7438 53.8111,6.0214 C53.6909,6.2391 53.5379,6.4372 53.3485,6.6129 C53.1053,6.8389 52.823,7.0149 52.4873,7.1206 C52.2864,7.1838 52.0794,7.215 51.8654,7.2048 C51.5496,7.1892 51.2741,7.0889 51.0422,6.9001 C50.8509,6.7442 50.7245,6.5523 50.6448,6.3363 C50.5734,6.1427 50.5442,5.9431 50.5516,5.7399 C50.5671,5.2931 50.7284,4.8869 51.0077,4.5153 C51.102,4.3894 51.21,4.2732 51.3314,4.1669 C51.5808,3.9492 51.8663,3.7817 52.2042,3.6867 C52.3961,3.6332 52.5925,3.6088 52.7935,3.6224 C53.1008,3.6434 53.3686,3.7451 53.5934,3.9311 C53.7964,4.0986 53.9242,4.3055 54.0016,4.538 C54.0441,4.6664 54.0691,4.7976 54.0742,4.9317 C54.0742,4.9442 54.0742,4.9567 54.0742,4.9691 C54.0725,5.0148 54.0728,5.0604 54.0742,5.1063 L54.0742,5.1063 Z" id="Fill-69"></path>
                            </g>
                        </g>
                    </svg>
                    <svg width="16px" height="13px" viewBox="0 0 16 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g transform="translate(-231.000000, -1670.000000)" >
                            <g class="svg_color svg_color--light" transform="translate(192.000000, 1670.452700)" fill="#403F41">
                                <path d="M43.5613,12.1187 C43.5026,12.1153 43.4437,12.1124 43.385,12.1076 C43.0562,12.0807 42.7546,11.9866 42.4867,11.8168 C42.0249,11.5237 41.7293,11.1336 41.6117,10.6432 C41.5677,10.459 41.5552,10.2728 41.5689,10.0851 C41.5839,9.8646 41.634,9.6508 41.714,9.4419 C41.8415,9.1083 42.034,8.8058 42.2775,8.5269 C42.4612,8.3166 42.669,8.1261 42.8977,7.9532 C43.112,7.7916 43.3068,7.6127 43.4888,7.4237 C43.7181,7.185 43.9256,6.9321 44.1305,6.6779 C44.3117,6.4528 44.4897,6.2263 44.6819,6.0089 C44.8264,5.8448 44.9789,5.6866 45.149,5.5423 C45.3616,5.362 45.5963,5.2092 45.8727,5.11 C46.0802,5.0357 46.2956,4.9963 46.5201,4.9921 C46.7735,4.987 47.0241,5.0091 47.2707,5.0618 C47.648,5.1432 47.9751,5.3039 48.2566,5.538 C48.4494,5.6988 48.6124,5.8808 48.7637,6.0712 C48.9245,6.2731 49.0722,6.4826 49.2244,6.6895 C49.3962,6.9225 49.5733,7.1515 49.7715,7.3684 C49.9688,7.5847 50.1865,7.7839 50.4243,7.9662 C50.7117,8.1867 50.9668,8.4325 51.1843,8.7083 C51.3694,8.9447 51.5204,9.1962 51.6259,9.468 C51.7081,9.6797 51.7597,9.8963 51.7727,10.12 C51.7929,10.4598 51.726,10.7847 51.5499,11.0903 C51.3872,11.3737 51.1514,11.6011 50.8554,11.7816 C50.6377,11.9146 50.403,12.0155 50.1442,12.0716 C50.0529,12.0917 49.96,12.1062 49.8659,12.1141 C49.8528,12.1153 49.8403,12.1173 49.8276,12.119 C49.8154,12.1252 49.8018,12.1207 49.7888,12.1221 C49.7783,12.1232 49.7666,12.119 49.7567,12.1249 C49.6762,12.1249 49.596,12.1249 49.5158,12.1249 C49.5061,12.119 49.4954,12.1232 49.4852,12.1221 C49.4758,12.1221 49.4667,12.1221 49.4577,12.1221 C49.45,12.1221 49.4418,12.1221 49.4344,12.1221 C49.2286,12.1161 49.0294,12.0787 48.8304,12.0382 C48.4933,11.9693 48.1631,11.8789 47.8277,11.804 C47.5562,11.7437 47.2826,11.6946 47.004,11.6668 C46.811,11.6473 46.6174,11.6453 46.424,11.651 C46.2698,11.6555 46.1165,11.6765 45.9645,11.7011 C45.6649,11.7505 45.371,11.8213 45.077,11.8916 C44.766,11.9665 44.4551,12.0407 44.1368,12.0864 C44.0072,12.1048 43.8774,12.1204 43.7459,12.1192 C43.7189,12.119 43.692,12.1226 43.6648,12.1221 C43.6299,12.1204 43.5956,12.1258 43.5613,12.1187 Z M49.5019,0.4343 C49.9353,0.4796 50.2664,0.6727 50.5192,0.9771 C50.6924,1.186 50.8016,1.4199 50.869,1.6702 C50.9269,1.8859 50.9487,2.1044 50.9405,2.3258 C50.9252,2.7326 50.8163,3.119 50.6148,3.4855 C50.4753,3.7392 50.295,3.9682 50.0654,4.1658 C49.861,4.3413 49.6294,4.4816 49.3596,4.5692 C49.1697,4.6304 48.9746,4.6607 48.7725,4.6502 C48.4227,4.6327 48.1257,4.5108 47.8759,4.2979 C47.6631,4.1162 47.5182,3.8965 47.4176,3.6533 C47.3476,3.4835 47.3036,3.308 47.2809,3.1289 C47.2651,3.0059 47.2588,2.8828 47.2634,2.7601 C47.2736,2.4695 47.3331,2.1869 47.4408,1.9125 C47.5551,1.6203 47.7172,1.351 47.9383,1.11 C48.1245,0.9074 48.342,0.7359 48.603,0.6094 C48.7946,0.5165 48.999,0.4561 49.2176,0.4346 C49.2244,0.4311 49.2315,0.4326 49.2383,0.4323 C49.2454,0.4323 49.2522,0.4323 49.259,0.4323 C49.2692,0.4311 49.2797,0.4354 49.2887,0.4292 C49.3363,0.4292 49.3831,0.4292 49.4307,0.4292 C49.4398,0.4354 49.4503,0.4311 49.4602,0.4323 C49.4673,0.4323 49.4738,0.4323 49.4812,0.4323 C49.4877,0.4323 49.4951,0.4309 49.5019,0.4343 Z M39.5341,4.9184 C39.5409,4.8025 39.5648,4.6888 39.5993,4.5768 C39.6665,4.3594 39.7768,4.161 39.9483,3.9912 C40.1402,3.8018 40.3772,3.6791 40.6612,3.6298 C40.8917,3.5898 41.1193,3.6071 41.3429,3.6672 C41.6,3.7369 41.8274,3.8551 42.0295,4.0093 C42.3436,4.2477 42.5686,4.5411 42.7245,4.877 C42.8062,5.0528 42.8626,5.235 42.8938,5.4227 C42.9088,5.514 42.9162,5.6055 42.9181,5.6976 C42.9218,5.8725 42.902,6.0446 42.8524,6.2135 C42.7863,6.4395 42.6755,6.645 42.4983,6.8207 C42.2951,7.0226 42.0417,7.1481 41.7381,7.1912 C41.5153,7.223 41.2959,7.2017 41.0816,7.141 C40.7933,7.0588 40.5461,6.918 40.3287,6.7357 C40.1161,6.5582 39.9474,6.3522 39.8162,6.1231 C39.6872,5.8983 39.5982,5.6614 39.5554,5.4122 C39.548,5.3683 39.5418,5.324 39.535,5.2801 C39.5296,5.26 39.5319,5.2396 39.5262,5.2194 C39.5237,5.2112 39.5251,5.2033 39.5248,5.1945 C39.5228,5.184 39.5285,5.1727 39.5208,5.1619 C39.5208,5.108 39.5208,5.0545 39.5208,5.0006 C39.5324,4.9856 39.5268,4.9691 39.5282,4.9535 C39.529,4.9416 39.5256,4.9292 39.5341,4.9184 Z M42.5769,2.3272 C42.5783,2.0066 42.6301,1.7172 42.7526,1.4389 C42.845,1.2285 42.9717,1.0361 43.1483,0.8705 C43.3385,0.6917 43.5644,0.5635 43.8369,0.5031 C44.1093,0.4425 44.3771,0.4598 44.6405,0.5431 C44.8723,0.6168 45.0745,0.733 45.2542,0.8796 C45.541,1.1134 45.7466,1.3958 45.8928,1.7121 C45.9858,1.9134 46.0499,2.1214 46.0864,2.3357 C46.1071,2.4574 46.119,2.5801 46.1219,2.7034 C46.125,2.8587 46.1139,3.0135 46.0844,3.1669 C46.0238,3.4872 45.8996,3.7857 45.6785,4.0496 C45.541,4.2131 45.3738,4.3483 45.1689,4.4459 C44.9398,4.5547 44.6943,4.6003 44.435,4.5828 C44.2003,4.5669 43.984,4.4997 43.7821,4.3948 C43.5188,4.2585 43.3056,4.0742 43.1282,3.8574 C42.9179,3.6 42.7733,3.3151 42.6817,3.0093 C42.6316,2.8417 42.5995,2.6717 42.5851,2.499 C42.5791,2.4344 42.5743,2.3692 42.5769,2.3272 Z M54.0742,5.1063 C54.0742,5.1185 54.0742,5.131 54.0742,5.1435 C54.058,5.4527 53.9636,5.7438 53.8111,6.0214 C53.6909,6.2391 53.5379,6.4372 53.3485,6.6129 C53.1053,6.8389 52.823,7.0149 52.4873,7.1206 C52.2864,7.1838 52.0794,7.215 51.8654,7.2048 C51.5496,7.1892 51.2741,7.0889 51.0422,6.9001 C50.8509,6.7442 50.7245,6.5523 50.6448,6.3363 C50.5734,6.1427 50.5442,5.9431 50.5516,5.7399 C50.5671,5.2931 50.7284,4.8869 51.0077,4.5153 C51.102,4.3894 51.21,4.2732 51.3314,4.1669 C51.5808,3.9492 51.8663,3.7817 52.2042,3.6867 C52.3961,3.6332 52.5925,3.6088 52.7935,3.6224 C53.1008,3.6434 53.3686,3.7451 53.5934,3.9311 C53.7964,4.0986 53.9242,4.3055 54.0016,4.538 C54.0441,4.6664 54.0691,4.7976 54.0742,4.9317 C54.0742,4.9442 54.0742,4.9567 54.0742,4.9691 C54.0725,5.0148 54.0728,5.0604 54.0742,5.1063 L54.0742,5.1063 Z" id="Fill-69"></path>
                            </g>
                        </g>
                    </svg>
                    <svg width="16px" height="13px" viewBox="0 0 16 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g transform="translate(-231.000000, -1670.000000)" >
                            <g class="svg_color svg_color--light" transform="translate(192.000000, 1670.452700)" fill="#403F41">
                                <path d="M43.5613,12.1187 C43.5026,12.1153 43.4437,12.1124 43.385,12.1076 C43.0562,12.0807 42.7546,11.9866 42.4867,11.8168 C42.0249,11.5237 41.7293,11.1336 41.6117,10.6432 C41.5677,10.459 41.5552,10.2728 41.5689,10.0851 C41.5839,9.8646 41.634,9.6508 41.714,9.4419 C41.8415,9.1083 42.034,8.8058 42.2775,8.5269 C42.4612,8.3166 42.669,8.1261 42.8977,7.9532 C43.112,7.7916 43.3068,7.6127 43.4888,7.4237 C43.7181,7.185 43.9256,6.9321 44.1305,6.6779 C44.3117,6.4528 44.4897,6.2263 44.6819,6.0089 C44.8264,5.8448 44.9789,5.6866 45.149,5.5423 C45.3616,5.362 45.5963,5.2092 45.8727,5.11 C46.0802,5.0357 46.2956,4.9963 46.5201,4.9921 C46.7735,4.987 47.0241,5.0091 47.2707,5.0618 C47.648,5.1432 47.9751,5.3039 48.2566,5.538 C48.4494,5.6988 48.6124,5.8808 48.7637,6.0712 C48.9245,6.2731 49.0722,6.4826 49.2244,6.6895 C49.3962,6.9225 49.5733,7.1515 49.7715,7.3684 C49.9688,7.5847 50.1865,7.7839 50.4243,7.9662 C50.7117,8.1867 50.9668,8.4325 51.1843,8.7083 C51.3694,8.9447 51.5204,9.1962 51.6259,9.468 C51.7081,9.6797 51.7597,9.8963 51.7727,10.12 C51.7929,10.4598 51.726,10.7847 51.5499,11.0903 C51.3872,11.3737 51.1514,11.6011 50.8554,11.7816 C50.6377,11.9146 50.403,12.0155 50.1442,12.0716 C50.0529,12.0917 49.96,12.1062 49.8659,12.1141 C49.8528,12.1153 49.8403,12.1173 49.8276,12.119 C49.8154,12.1252 49.8018,12.1207 49.7888,12.1221 C49.7783,12.1232 49.7666,12.119 49.7567,12.1249 C49.6762,12.1249 49.596,12.1249 49.5158,12.1249 C49.5061,12.119 49.4954,12.1232 49.4852,12.1221 C49.4758,12.1221 49.4667,12.1221 49.4577,12.1221 C49.45,12.1221 49.4418,12.1221 49.4344,12.1221 C49.2286,12.1161 49.0294,12.0787 48.8304,12.0382 C48.4933,11.9693 48.1631,11.8789 47.8277,11.804 C47.5562,11.7437 47.2826,11.6946 47.004,11.6668 C46.811,11.6473 46.6174,11.6453 46.424,11.651 C46.2698,11.6555 46.1165,11.6765 45.9645,11.7011 C45.6649,11.7505 45.371,11.8213 45.077,11.8916 C44.766,11.9665 44.4551,12.0407 44.1368,12.0864 C44.0072,12.1048 43.8774,12.1204 43.7459,12.1192 C43.7189,12.119 43.692,12.1226 43.6648,12.1221 C43.6299,12.1204 43.5956,12.1258 43.5613,12.1187 Z M49.5019,0.4343 C49.9353,0.4796 50.2664,0.6727 50.5192,0.9771 C50.6924,1.186 50.8016,1.4199 50.869,1.6702 C50.9269,1.8859 50.9487,2.1044 50.9405,2.3258 C50.9252,2.7326 50.8163,3.119 50.6148,3.4855 C50.4753,3.7392 50.295,3.9682 50.0654,4.1658 C49.861,4.3413 49.6294,4.4816 49.3596,4.5692 C49.1697,4.6304 48.9746,4.6607 48.7725,4.6502 C48.4227,4.6327 48.1257,4.5108 47.8759,4.2979 C47.6631,4.1162 47.5182,3.8965 47.4176,3.6533 C47.3476,3.4835 47.3036,3.308 47.2809,3.1289 C47.2651,3.0059 47.2588,2.8828 47.2634,2.7601 C47.2736,2.4695 47.3331,2.1869 47.4408,1.9125 C47.5551,1.6203 47.7172,1.351 47.9383,1.11 C48.1245,0.9074 48.342,0.7359 48.603,0.6094 C48.7946,0.5165 48.999,0.4561 49.2176,0.4346 C49.2244,0.4311 49.2315,0.4326 49.2383,0.4323 C49.2454,0.4323 49.2522,0.4323 49.259,0.4323 C49.2692,0.4311 49.2797,0.4354 49.2887,0.4292 C49.3363,0.4292 49.3831,0.4292 49.4307,0.4292 C49.4398,0.4354 49.4503,0.4311 49.4602,0.4323 C49.4673,0.4323 49.4738,0.4323 49.4812,0.4323 C49.4877,0.4323 49.4951,0.4309 49.5019,0.4343 Z M39.5341,4.9184 C39.5409,4.8025 39.5648,4.6888 39.5993,4.5768 C39.6665,4.3594 39.7768,4.161 39.9483,3.9912 C40.1402,3.8018 40.3772,3.6791 40.6612,3.6298 C40.8917,3.5898 41.1193,3.6071 41.3429,3.6672 C41.6,3.7369 41.8274,3.8551 42.0295,4.0093 C42.3436,4.2477 42.5686,4.5411 42.7245,4.877 C42.8062,5.0528 42.8626,5.235 42.8938,5.4227 C42.9088,5.514 42.9162,5.6055 42.9181,5.6976 C42.9218,5.8725 42.902,6.0446 42.8524,6.2135 C42.7863,6.4395 42.6755,6.645 42.4983,6.8207 C42.2951,7.0226 42.0417,7.1481 41.7381,7.1912 C41.5153,7.223 41.2959,7.2017 41.0816,7.141 C40.7933,7.0588 40.5461,6.918 40.3287,6.7357 C40.1161,6.5582 39.9474,6.3522 39.8162,6.1231 C39.6872,5.8983 39.5982,5.6614 39.5554,5.4122 C39.548,5.3683 39.5418,5.324 39.535,5.2801 C39.5296,5.26 39.5319,5.2396 39.5262,5.2194 C39.5237,5.2112 39.5251,5.2033 39.5248,5.1945 C39.5228,5.184 39.5285,5.1727 39.5208,5.1619 C39.5208,5.108 39.5208,5.0545 39.5208,5.0006 C39.5324,4.9856 39.5268,4.9691 39.5282,4.9535 C39.529,4.9416 39.5256,4.9292 39.5341,4.9184 Z M42.5769,2.3272 C42.5783,2.0066 42.6301,1.7172 42.7526,1.4389 C42.845,1.2285 42.9717,1.0361 43.1483,0.8705 C43.3385,0.6917 43.5644,0.5635 43.8369,0.5031 C44.1093,0.4425 44.3771,0.4598 44.6405,0.5431 C44.8723,0.6168 45.0745,0.733 45.2542,0.8796 C45.541,1.1134 45.7466,1.3958 45.8928,1.7121 C45.9858,1.9134 46.0499,2.1214 46.0864,2.3357 C46.1071,2.4574 46.119,2.5801 46.1219,2.7034 C46.125,2.8587 46.1139,3.0135 46.0844,3.1669 C46.0238,3.4872 45.8996,3.7857 45.6785,4.0496 C45.541,4.2131 45.3738,4.3483 45.1689,4.4459 C44.9398,4.5547 44.6943,4.6003 44.435,4.5828 C44.2003,4.5669 43.984,4.4997 43.7821,4.3948 C43.5188,4.2585 43.3056,4.0742 43.1282,3.8574 C42.9179,3.6 42.7733,3.3151 42.6817,3.0093 C42.6316,2.8417 42.5995,2.6717 42.5851,2.499 C42.5791,2.4344 42.5743,2.3692 42.5769,2.3272 Z M54.0742,5.1063 C54.0742,5.1185 54.0742,5.131 54.0742,5.1435 C54.058,5.4527 53.9636,5.7438 53.8111,6.0214 C53.6909,6.2391 53.5379,6.4372 53.3485,6.6129 C53.1053,6.8389 52.823,7.0149 52.4873,7.1206 C52.2864,7.1838 52.0794,7.215 51.8654,7.2048 C51.5496,7.1892 51.2741,7.0889 51.0422,6.9001 C50.8509,6.7442 50.7245,6.5523 50.6448,6.3363 C50.5734,6.1427 50.5442,5.9431 50.5516,5.7399 C50.5671,5.2931 50.7284,4.8869 51.0077,4.5153 C51.102,4.3894 51.21,4.2732 51.3314,4.1669 C51.5808,3.9492 51.8663,3.7817 52.2042,3.6867 C52.3961,3.6332 52.5925,3.6088 52.7935,3.6224 C53.1008,3.6434 53.3686,3.7451 53.5934,3.9311 C53.7964,4.0986 53.9242,4.3055 54.0016,4.538 C54.0441,4.6664 54.0691,4.7976 54.0742,4.9317 C54.0742,4.9442 54.0742,4.9567 54.0742,4.9691 C54.0725,5.0148 54.0728,5.0604 54.0742,5.1063 L54.0742,5.1063 Z" id="Fill-69"></path>
                            </g>
                        </g>
                    </svg>
                    <svg width="16px" height="13px" viewBox="0 0 16 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g transform="translate(-231.000000, -1670.000000)" >
                            <g class="svg_color svg_color--light" transform="translate(192.000000, 1670.452700)" fill="#403F41">
                                <path d="M43.5613,12.1187 C43.5026,12.1153 43.4437,12.1124 43.385,12.1076 C43.0562,12.0807 42.7546,11.9866 42.4867,11.8168 C42.0249,11.5237 41.7293,11.1336 41.6117,10.6432 C41.5677,10.459 41.5552,10.2728 41.5689,10.0851 C41.5839,9.8646 41.634,9.6508 41.714,9.4419 C41.8415,9.1083 42.034,8.8058 42.2775,8.5269 C42.4612,8.3166 42.669,8.1261 42.8977,7.9532 C43.112,7.7916 43.3068,7.6127 43.4888,7.4237 C43.7181,7.185 43.9256,6.9321 44.1305,6.6779 C44.3117,6.4528 44.4897,6.2263 44.6819,6.0089 C44.8264,5.8448 44.9789,5.6866 45.149,5.5423 C45.3616,5.362 45.5963,5.2092 45.8727,5.11 C46.0802,5.0357 46.2956,4.9963 46.5201,4.9921 C46.7735,4.987 47.0241,5.0091 47.2707,5.0618 C47.648,5.1432 47.9751,5.3039 48.2566,5.538 C48.4494,5.6988 48.6124,5.8808 48.7637,6.0712 C48.9245,6.2731 49.0722,6.4826 49.2244,6.6895 C49.3962,6.9225 49.5733,7.1515 49.7715,7.3684 C49.9688,7.5847 50.1865,7.7839 50.4243,7.9662 C50.7117,8.1867 50.9668,8.4325 51.1843,8.7083 C51.3694,8.9447 51.5204,9.1962 51.6259,9.468 C51.7081,9.6797 51.7597,9.8963 51.7727,10.12 C51.7929,10.4598 51.726,10.7847 51.5499,11.0903 C51.3872,11.3737 51.1514,11.6011 50.8554,11.7816 C50.6377,11.9146 50.403,12.0155 50.1442,12.0716 C50.0529,12.0917 49.96,12.1062 49.8659,12.1141 C49.8528,12.1153 49.8403,12.1173 49.8276,12.119 C49.8154,12.1252 49.8018,12.1207 49.7888,12.1221 C49.7783,12.1232 49.7666,12.119 49.7567,12.1249 C49.6762,12.1249 49.596,12.1249 49.5158,12.1249 C49.5061,12.119 49.4954,12.1232 49.4852,12.1221 C49.4758,12.1221 49.4667,12.1221 49.4577,12.1221 C49.45,12.1221 49.4418,12.1221 49.4344,12.1221 C49.2286,12.1161 49.0294,12.0787 48.8304,12.0382 C48.4933,11.9693 48.1631,11.8789 47.8277,11.804 C47.5562,11.7437 47.2826,11.6946 47.004,11.6668 C46.811,11.6473 46.6174,11.6453 46.424,11.651 C46.2698,11.6555 46.1165,11.6765 45.9645,11.7011 C45.6649,11.7505 45.371,11.8213 45.077,11.8916 C44.766,11.9665 44.4551,12.0407 44.1368,12.0864 C44.0072,12.1048 43.8774,12.1204 43.7459,12.1192 C43.7189,12.119 43.692,12.1226 43.6648,12.1221 C43.6299,12.1204 43.5956,12.1258 43.5613,12.1187 Z M49.5019,0.4343 C49.9353,0.4796 50.2664,0.6727 50.5192,0.9771 C50.6924,1.186 50.8016,1.4199 50.869,1.6702 C50.9269,1.8859 50.9487,2.1044 50.9405,2.3258 C50.9252,2.7326 50.8163,3.119 50.6148,3.4855 C50.4753,3.7392 50.295,3.9682 50.0654,4.1658 C49.861,4.3413 49.6294,4.4816 49.3596,4.5692 C49.1697,4.6304 48.9746,4.6607 48.7725,4.6502 C48.4227,4.6327 48.1257,4.5108 47.8759,4.2979 C47.6631,4.1162 47.5182,3.8965 47.4176,3.6533 C47.3476,3.4835 47.3036,3.308 47.2809,3.1289 C47.2651,3.0059 47.2588,2.8828 47.2634,2.7601 C47.2736,2.4695 47.3331,2.1869 47.4408,1.9125 C47.5551,1.6203 47.7172,1.351 47.9383,1.11 C48.1245,0.9074 48.342,0.7359 48.603,0.6094 C48.7946,0.5165 48.999,0.4561 49.2176,0.4346 C49.2244,0.4311 49.2315,0.4326 49.2383,0.4323 C49.2454,0.4323 49.2522,0.4323 49.259,0.4323 C49.2692,0.4311 49.2797,0.4354 49.2887,0.4292 C49.3363,0.4292 49.3831,0.4292 49.4307,0.4292 C49.4398,0.4354 49.4503,0.4311 49.4602,0.4323 C49.4673,0.4323 49.4738,0.4323 49.4812,0.4323 C49.4877,0.4323 49.4951,0.4309 49.5019,0.4343 Z M39.5341,4.9184 C39.5409,4.8025 39.5648,4.6888 39.5993,4.5768 C39.6665,4.3594 39.7768,4.161 39.9483,3.9912 C40.1402,3.8018 40.3772,3.6791 40.6612,3.6298 C40.8917,3.5898 41.1193,3.6071 41.3429,3.6672 C41.6,3.7369 41.8274,3.8551 42.0295,4.0093 C42.3436,4.2477 42.5686,4.5411 42.7245,4.877 C42.8062,5.0528 42.8626,5.235 42.8938,5.4227 C42.9088,5.514 42.9162,5.6055 42.9181,5.6976 C42.9218,5.8725 42.902,6.0446 42.8524,6.2135 C42.7863,6.4395 42.6755,6.645 42.4983,6.8207 C42.2951,7.0226 42.0417,7.1481 41.7381,7.1912 C41.5153,7.223 41.2959,7.2017 41.0816,7.141 C40.7933,7.0588 40.5461,6.918 40.3287,6.7357 C40.1161,6.5582 39.9474,6.3522 39.8162,6.1231 C39.6872,5.8983 39.5982,5.6614 39.5554,5.4122 C39.548,5.3683 39.5418,5.324 39.535,5.2801 C39.5296,5.26 39.5319,5.2396 39.5262,5.2194 C39.5237,5.2112 39.5251,5.2033 39.5248,5.1945 C39.5228,5.184 39.5285,5.1727 39.5208,5.1619 C39.5208,5.108 39.5208,5.0545 39.5208,5.0006 C39.5324,4.9856 39.5268,4.9691 39.5282,4.9535 C39.529,4.9416 39.5256,4.9292 39.5341,4.9184 Z M42.5769,2.3272 C42.5783,2.0066 42.6301,1.7172 42.7526,1.4389 C42.845,1.2285 42.9717,1.0361 43.1483,0.8705 C43.3385,0.6917 43.5644,0.5635 43.8369,0.5031 C44.1093,0.4425 44.3771,0.4598 44.6405,0.5431 C44.8723,0.6168 45.0745,0.733 45.2542,0.8796 C45.541,1.1134 45.7466,1.3958 45.8928,1.7121 C45.9858,1.9134 46.0499,2.1214 46.0864,2.3357 C46.1071,2.4574 46.119,2.5801 46.1219,2.7034 C46.125,2.8587 46.1139,3.0135 46.0844,3.1669 C46.0238,3.4872 45.8996,3.7857 45.6785,4.0496 C45.541,4.2131 45.3738,4.3483 45.1689,4.4459 C44.9398,4.5547 44.6943,4.6003 44.435,4.5828 C44.2003,4.5669 43.984,4.4997 43.7821,4.3948 C43.5188,4.2585 43.3056,4.0742 43.1282,3.8574 C42.9179,3.6 42.7733,3.3151 42.6817,3.0093 C42.6316,2.8417 42.5995,2.6717 42.5851,2.499 C42.5791,2.4344 42.5743,2.3692 42.5769,2.3272 Z M54.0742,5.1063 C54.0742,5.1185 54.0742,5.131 54.0742,5.1435 C54.058,5.4527 53.9636,5.7438 53.8111,6.0214 C53.6909,6.2391 53.5379,6.4372 53.3485,6.6129 C53.1053,6.8389 52.823,7.0149 52.4873,7.1206 C52.2864,7.1838 52.0794,7.215 51.8654,7.2048 C51.5496,7.1892 51.2741,7.0889 51.0422,6.9001 C50.8509,6.7442 50.7245,6.5523 50.6448,6.3363 C50.5734,6.1427 50.5442,5.9431 50.5516,5.7399 C50.5671,5.2931 50.7284,4.8869 51.0077,4.5153 C51.102,4.3894 51.21,4.2732 51.3314,4.1669 C51.5808,3.9492 51.8663,3.7817 52.2042,3.6867 C52.3961,3.6332 52.5925,3.6088 52.7935,3.6224 C53.1008,3.6434 53.3686,3.7451 53.5934,3.9311 C53.7964,4.0986 53.9242,4.3055 54.0016,4.538 C54.0441,4.6664 54.0691,4.7976 54.0742,4.9317 C54.0742,4.9442 54.0742,4.9567 54.0742,4.9691 C54.0725,5.0148 54.0728,5.0604 54.0742,5.1063 L54.0742,5.1063 Z" id="Fill-69"></path>
                            </g>
                        </g>
                    </svg>
                    <svg width="16px" height="13px" viewBox="0 0 16 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g transform="translate(-231.000000, -1670.000000)" >
                            <g class="svg_color svg_color--empty" transform="translate(192.000000, 1670.452700)" fill="#403F41">
                                <path d="M43.5613,12.1187 C43.5026,12.1153 43.4437,12.1124 43.385,12.1076 C43.0562,12.0807 42.7546,11.9866 42.4867,11.8168 C42.0249,11.5237 41.7293,11.1336 41.6117,10.6432 C41.5677,10.459 41.5552,10.2728 41.5689,10.0851 C41.5839,9.8646 41.634,9.6508 41.714,9.4419 C41.8415,9.1083 42.034,8.8058 42.2775,8.5269 C42.4612,8.3166 42.669,8.1261 42.8977,7.9532 C43.112,7.7916 43.3068,7.6127 43.4888,7.4237 C43.7181,7.185 43.9256,6.9321 44.1305,6.6779 C44.3117,6.4528 44.4897,6.2263 44.6819,6.0089 C44.8264,5.8448 44.9789,5.6866 45.149,5.5423 C45.3616,5.362 45.5963,5.2092 45.8727,5.11 C46.0802,5.0357 46.2956,4.9963 46.5201,4.9921 C46.7735,4.987 47.0241,5.0091 47.2707,5.0618 C47.648,5.1432 47.9751,5.3039 48.2566,5.538 C48.4494,5.6988 48.6124,5.8808 48.7637,6.0712 C48.9245,6.2731 49.0722,6.4826 49.2244,6.6895 C49.3962,6.9225 49.5733,7.1515 49.7715,7.3684 C49.9688,7.5847 50.1865,7.7839 50.4243,7.9662 C50.7117,8.1867 50.9668,8.4325 51.1843,8.7083 C51.3694,8.9447 51.5204,9.1962 51.6259,9.468 C51.7081,9.6797 51.7597,9.8963 51.7727,10.12 C51.7929,10.4598 51.726,10.7847 51.5499,11.0903 C51.3872,11.3737 51.1514,11.6011 50.8554,11.7816 C50.6377,11.9146 50.403,12.0155 50.1442,12.0716 C50.0529,12.0917 49.96,12.1062 49.8659,12.1141 C49.8528,12.1153 49.8403,12.1173 49.8276,12.119 C49.8154,12.1252 49.8018,12.1207 49.7888,12.1221 C49.7783,12.1232 49.7666,12.119 49.7567,12.1249 C49.6762,12.1249 49.596,12.1249 49.5158,12.1249 C49.5061,12.119 49.4954,12.1232 49.4852,12.1221 C49.4758,12.1221 49.4667,12.1221 49.4577,12.1221 C49.45,12.1221 49.4418,12.1221 49.4344,12.1221 C49.2286,12.1161 49.0294,12.0787 48.8304,12.0382 C48.4933,11.9693 48.1631,11.8789 47.8277,11.804 C47.5562,11.7437 47.2826,11.6946 47.004,11.6668 C46.811,11.6473 46.6174,11.6453 46.424,11.651 C46.2698,11.6555 46.1165,11.6765 45.9645,11.7011 C45.6649,11.7505 45.371,11.8213 45.077,11.8916 C44.766,11.9665 44.4551,12.0407 44.1368,12.0864 C44.0072,12.1048 43.8774,12.1204 43.7459,12.1192 C43.7189,12.119 43.692,12.1226 43.6648,12.1221 C43.6299,12.1204 43.5956,12.1258 43.5613,12.1187 Z M49.5019,0.4343 C49.9353,0.4796 50.2664,0.6727 50.5192,0.9771 C50.6924,1.186 50.8016,1.4199 50.869,1.6702 C50.9269,1.8859 50.9487,2.1044 50.9405,2.3258 C50.9252,2.7326 50.8163,3.119 50.6148,3.4855 C50.4753,3.7392 50.295,3.9682 50.0654,4.1658 C49.861,4.3413 49.6294,4.4816 49.3596,4.5692 C49.1697,4.6304 48.9746,4.6607 48.7725,4.6502 C48.4227,4.6327 48.1257,4.5108 47.8759,4.2979 C47.6631,4.1162 47.5182,3.8965 47.4176,3.6533 C47.3476,3.4835 47.3036,3.308 47.2809,3.1289 C47.2651,3.0059 47.2588,2.8828 47.2634,2.7601 C47.2736,2.4695 47.3331,2.1869 47.4408,1.9125 C47.5551,1.6203 47.7172,1.351 47.9383,1.11 C48.1245,0.9074 48.342,0.7359 48.603,0.6094 C48.7946,0.5165 48.999,0.4561 49.2176,0.4346 C49.2244,0.4311 49.2315,0.4326 49.2383,0.4323 C49.2454,0.4323 49.2522,0.4323 49.259,0.4323 C49.2692,0.4311 49.2797,0.4354 49.2887,0.4292 C49.3363,0.4292 49.3831,0.4292 49.4307,0.4292 C49.4398,0.4354 49.4503,0.4311 49.4602,0.4323 C49.4673,0.4323 49.4738,0.4323 49.4812,0.4323 C49.4877,0.4323 49.4951,0.4309 49.5019,0.4343 Z M39.5341,4.9184 C39.5409,4.8025 39.5648,4.6888 39.5993,4.5768 C39.6665,4.3594 39.7768,4.161 39.9483,3.9912 C40.1402,3.8018 40.3772,3.6791 40.6612,3.6298 C40.8917,3.5898 41.1193,3.6071 41.3429,3.6672 C41.6,3.7369 41.8274,3.8551 42.0295,4.0093 C42.3436,4.2477 42.5686,4.5411 42.7245,4.877 C42.8062,5.0528 42.8626,5.235 42.8938,5.4227 C42.9088,5.514 42.9162,5.6055 42.9181,5.6976 C42.9218,5.8725 42.902,6.0446 42.8524,6.2135 C42.7863,6.4395 42.6755,6.645 42.4983,6.8207 C42.2951,7.0226 42.0417,7.1481 41.7381,7.1912 C41.5153,7.223 41.2959,7.2017 41.0816,7.141 C40.7933,7.0588 40.5461,6.918 40.3287,6.7357 C40.1161,6.5582 39.9474,6.3522 39.8162,6.1231 C39.6872,5.8983 39.5982,5.6614 39.5554,5.4122 C39.548,5.3683 39.5418,5.324 39.535,5.2801 C39.5296,5.26 39.5319,5.2396 39.5262,5.2194 C39.5237,5.2112 39.5251,5.2033 39.5248,5.1945 C39.5228,5.184 39.5285,5.1727 39.5208,5.1619 C39.5208,5.108 39.5208,5.0545 39.5208,5.0006 C39.5324,4.9856 39.5268,4.9691 39.5282,4.9535 C39.529,4.9416 39.5256,4.9292 39.5341,4.9184 Z M42.5769,2.3272 C42.5783,2.0066 42.6301,1.7172 42.7526,1.4389 C42.845,1.2285 42.9717,1.0361 43.1483,0.8705 C43.3385,0.6917 43.5644,0.5635 43.8369,0.5031 C44.1093,0.4425 44.3771,0.4598 44.6405,0.5431 C44.8723,0.6168 45.0745,0.733 45.2542,0.8796 C45.541,1.1134 45.7466,1.3958 45.8928,1.7121 C45.9858,1.9134 46.0499,2.1214 46.0864,2.3357 C46.1071,2.4574 46.119,2.5801 46.1219,2.7034 C46.125,2.8587 46.1139,3.0135 46.0844,3.1669 C46.0238,3.4872 45.8996,3.7857 45.6785,4.0496 C45.541,4.2131 45.3738,4.3483 45.1689,4.4459 C44.9398,4.5547 44.6943,4.6003 44.435,4.5828 C44.2003,4.5669 43.984,4.4997 43.7821,4.3948 C43.5188,4.2585 43.3056,4.0742 43.1282,3.8574 C42.9179,3.6 42.7733,3.3151 42.6817,3.0093 C42.6316,2.8417 42.5995,2.6717 42.5851,2.499 C42.5791,2.4344 42.5743,2.3692 42.5769,2.3272 Z M54.0742,5.1063 C54.0742,5.1185 54.0742,5.131 54.0742,5.1435 C54.058,5.4527 53.9636,5.7438 53.8111,6.0214 C53.6909,6.2391 53.5379,6.4372 53.3485,6.6129 C53.1053,6.8389 52.823,7.0149 52.4873,7.1206 C52.2864,7.1838 52.0794,7.215 51.8654,7.2048 C51.5496,7.1892 51.2741,7.0889 51.0422,6.9001 C50.8509,6.7442 50.7245,6.5523 50.6448,6.3363 C50.5734,6.1427 50.5442,5.9431 50.5516,5.7399 C50.5671,5.2931 50.7284,4.8869 51.0077,4.5153 C51.102,4.3894 51.21,4.2732 51.3314,4.1669 C51.5808,3.9492 51.8663,3.7817 52.2042,3.6867 C52.3961,3.6332 52.5925,3.6088 52.7935,3.6224 C53.1008,3.6434 53.3686,3.7451 53.5934,3.9311 C53.7964,4.0986 53.9242,4.3055 54.0016,4.538 C54.0441,4.6664 54.0691,4.7976 54.0742,4.9317 C54.0742,4.9442 54.0742,4.9567 54.0742,4.9691 C54.0725,5.0148 54.0728,5.0604 54.0742,5.1063 L54.0742,5.1063 Z" id="Fill-69"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="article_logo">
                    <img src="/assets/images/cattaries_ava_1.png" alt="">
                </div>
                <div class="article_tags">
                    <a href="#" class="outline_btn outline_btn--white">Food</a>
                    <a href="#" class="outline_btn outline_btn--white">Bengal</a>
                </div>
                <div class="article_body">
                    <div class="title">
                        <span>{{item.cattery.name}} Cattery</span>
                    </div>
                    <div class="text">
                        <div class="text__row">
                            <span class="black">Owner: </span> {{item.cattery.owner.firstName}}&nbsp;{{item.cattery.owner.lastName}}
                        </div>
                        <div class="text__row">
                            <img class="text__icon" src="/assets/img/card_icon.svg" alt="">
                            <span class="black">Registred: </span> {{item.cattery.registrationDate | date:'dd MMMM yyyy'}}
                        </div>
                        <div class="text__row">
                            <img class="text__icon" src="/assets/img/location_icon.svg" alt="">
                            {{item.cattery.address.addressLine1}},&nbsp;{{item.cattery.address.city}},&nbsp;{{item.cattery.address.countryCode | uppercase}}
                        </div>
                    </div>
                    <div class="cat__param">
                        <div class="left_col">
                            <div class="cat__icon">
                                <img src="/assets/img/cont_cat_1.svg" alt="">
                            </div>
                            <div class="cat__info">
                                <div class="info__icon">
                            <span class="icon_round">
                                <img src="/assets/img/female_icon.svg" alt="">
                            </span>
                                    10
                                </div>
                                <div class="info__icon">
                            <span class="icon_round">
                                <img src="/assets/img/male.svg" alt="">
                            </span>
                                    0
                                </div>
                            </div>
                        </div>
                        <div class="left_col">
                            <div class="cat__icon">
                                <img src="/assets/img/cont_cat_2.svg" alt="">
                            </div>
                            <div class="cat__info">
                                <div class="info__icon">
                            <span class="icon_round">
                                <img src="/assets/img/cur_icon.svg" alt="">
                            </span>
                                    $10
                                </div>
                                <div class="info__icon">
                            <span class="icon_round">
                                <img src="/assets/img/ha_icon.svg" alt="">
                            </span>
                                    0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </ng-masonry-grid-item>
        </ng-masonry-grid>
      </div>
    </div>
  </div>
</section>


