@import "../../../assets/styles/varibles";
@import "../../../assets/styles/mixins";

.search_category {
  background: #fff;
  .cont {
    background: url("assets/images/home__page.png") 162px 0 no-repeat;
    padding-top: 51px;
    padding-bottom: 68px;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 75px;
    .advanced_search{
      width: calc(100% - 545px);
      margin-right: 12px;
    }
  }
  .slogan{
    color: #3D3F41;
    font-size: size(40);
    line-height: 1;
    font-family: 'LatoLight' , sans-serif;
    max-width: 400px;
    span{
      padding-left: 68px;
    }
  }
}
.search_form{
  width: calc(100% - 545px);
  margin-right: 12px;
}

.filter{
  &__top{
    display: flex;
    padding: 20px 0;
    a{
      font-size: size(20);
      color: #000;
      margin-right: 10px;
      border-radius: 50px;
      padding: 5px 10px;
      &.active{
        //background: #fff;
        color:$theme_color;
      }
    }
  }
  &__bottom{
    /*    -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
        position: relative;*/
    img{
      display: block;
    }
    .item{
      /*&__image{
        position: relative;
        img{
          display: block;
        }
        .sex{
          position: absolute;
          bottom: 10px;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          left: 10px;
        }
        .price{
          border-radius: 50px;
          background: #fff;
          font-size: 12px;
          position: absolute;
          right: 10px;
          bottom: 10px;
          line-height: 24px;
          padding: 0 15px;
        }
      }*/


      // cat item
      &__cat{
        position: relative;
        display: inline-block;
        z-index: 0;
        cursor: pointer;
        padding: 10px;
        &:after{
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 8px;
          background: #fff;
          z-index: -1;
          width: 100%;
          height: calc(100% + 45px);
          display: none;
          box-shadow: 0 0 10px 0 #ccc;
        }
        img{
          display: block;
          max-width: 100%;
        }
        &__image{
          border-radius: 8px;
          overflow: hidden;
        }
        &__body{
          position: absolute;
          width: 100%;
          left: 0;
          bottom: -26px;
          justify-content: space-between;
          align-items: center;
          display: flex;
          .title{
            padding-left: 22px;
            font-family: 'LatoLight' , sans-serif;
          }
          img{
            display: none;
            margin-right: 10px;
          }
        }
        @media all and (min-width: 1054px) {
          &:hover{
            .item__cat__body{
              img{
                display: inline-block;
              }
              //display: flex;
            }
            &:after{
              display: block;
            }
          }
        }
      }

      // news article
      &__article{
        display: inline-block;
        background: #DAE0CC;
        border-radius: 10px;
        padding: 10px 10px 55px;
        position: relative;
        overflow: hidden;
        z-index: 0;
        &--pattern_1{
          background: url('/assets/images/pattern_1.png');
        }
        .image{
          border-radius: 7px;
          overflow: hidden;
          max-height: 188.83px;
        }
        .svg_color{
          &--light{
            fill: #FFDF83;
          }
          &--empty{
            fill: #DEDFE9!important;
          }
        }
        .article_tags{
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 3;
          color:#A8ABC0;
          font-size: size(12);
          a{
            padding: 7px 13px;
            margin-left: 10px;
          }
        }
        &:after{
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          background: rgba(53,57,50, .85);
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -ms-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease;
        }
        .grid__item{
          .item__article{
            .article_body{
              .title{
                span{
                  padding-left: 5px;
                }
              }
            }
          }
        }
        .article_body{
          position: absolute;
          top: calc(100% - 90px);
          z-index: 2;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 50px 140px  50px 30px;
          box-sizing: border-box;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -ms-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease;
          .title{
            display: flex;
            color: #000 ;
            font-size: size(22);
            overflow: hidden;
            align-items: center;
            span{
              text-overflow: ellipsis;
              white-space: nowrap;
              display: inline-block;
              width: 100%;
              overflow: hidden;
              padding-left: 5px;
              //padding-left: 0
            }
          }
          .text{
            padding-top: 15px;
            color: #fff;
            font-size: size(11);
          }
        }
        .article_logo{
          z-index: 3;
          position: absolute;
          bottom: 50px;
          right: 24px;
        }

        @media all and (min-width: 1054px) {
          &:hover{
            &:after{
              opacity: 1;
            }
            .article_body{
              top: 0;
              .title{
                color: #DAE0CC;
              }
            }
          }
        }
        &--cattery{
          .article_rating{
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;
          }
          .black{
            color: #403F41;
          }
          .article_body{
            top: calc(100% - 80px);
            padding:50px 25px;
            .title{
              margin-bottom: 10px;
            }
          }
          .article_logo{
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid #A68A6A;
            box-sizing: border-box;
            width: 90px;
            height: 90px;
            //top: 130px;
            bottom: 50px;
            right: auto;
            left: 20px;
            img{
              display: block;
            }
          }
          .text{
            &__row{
              display: flex;
              margin-bottom: 5px;
            }
            &__icon{
              margin-right: 20px;
            }
          }
          .cat__param{
            display: flex;
            >*{
              width: 50%;
              display: flex;
            }
            .icon_round{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 25px;
              height: 25px;
              background: #fff;
              border-radius: 50%;
              margin-right: 8px;
            }
            .info__icon{
              align-items: center;
              display: flex;
              color: #403F41;
              font-size: size(25);
            }
          }
          @media all and (min-width: 1054px) {
            &:hover{
              &:after{
                background: rgba(166, 138, 106, .85);
              }

              .article_rating .svg_color{
                fill: #E7D3B2;
              }
              .article_logo{
                z-index: 1;
              }
              .article_body{
                .title{
                  color: #FFDF83;
                }
              }
            }
          }
        }
        &--news{
          background: #FCDCD2;
          .article_rating{
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 2;
          }
          .article_logo{
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #4F4B69;
            box-sizing: border-box;
            width: 58px;
            height: 58px;
            img{
              display: block;
            }
          }
          &:hover{
            .article_body{
              .title{
                color: #FCDCD2;
              }
            }
            .article_rating svg{
              .svg_color{
                fill: #FCDCD2!important;
              }
            }
          }
        }
      }
    }
  }
}

.grid{
    * { box-sizing: border-box; }
  }
  .grid.are-images-unloaded {
    opacity: 0;
  }
  .grid__item, .grid__col-sizer {
    width: calc(20% - 16px);
  }
  .grid__gutter-sizer {
    width: 20px;
  }
  .grid.are-images-unloaded .image-grid__item {
    opacity: 0;
  }
  .grid__item {
    display: block;
    margin-bottom: 60px!important;
    float: left;
  }

  .grid__item--height1 { height: 210px;}
  .grid__item--height2 { height: 322.5px;}
  .grid__item--height3 { height: 400px;}
  .grid__item--width2 { width: calc(40% - 12px); }
  .grid__item--width3 { width: calc(60% - 8px); }
  .grid__item img {
    display: block;
    max-width: 100%;
  }

  .page-load-status {
    display: none;
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
  }
