@import "../../../assets/styles/varibles";
.tabby_loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(235, 235, 235, .9);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.parent{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(235, 235, 235, 1);
  }
  &__text{
    color:#a2a2a2;
  }
  &__icons{
    margin-bottom: 10px;
    display: flex;
    .item{
      width: 30px;
      height: 30px;
      margin: 0 2px;
      //$time:0;
      //@for $i from 1 through 5 {
      //  &:nth-of-type(#{$i}){
      //    svg{
      //      animation-delay: #{$time}s;
      //    }
      //    $time: $time + .18;
      //  }
      //}

      $time:0;
      @for $i from 1 through 2 {
        &:nth-of-type(#{$i}){
          svg{
            animation-delay: #{$time}s;
          }
          $time: $time + .5;
        }
      }
      svg{
        opacity: 0;
        //animation: anim_icon 1s ease infinite;
        animation: anim_icon1 1s linear infinite;
      }
      .svg_color{
        fill: $theme_color!important;
      }
    }
  }
  svg{
    width: 100%;
    height: 100%;
  }
}

@keyframes anim_icon1 {
  0% {
    transform: translate(0, -40px);
    opacity: 0;
  }
  10% {
    transform: translate(0, -40px);
    opacity: 1;
  }
  60%{
    transform: translate(0, -20px);
    opacity: 1;
  }
  100%{
    transform: translate(0, 0);
    opacity: 0;
  }
}

@keyframes anim_icon {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  30% {
    transform: translate(0, -10px);
    opacity: 1;
  }
  100%{
    transform: translate(0, 0);
    opacity: 0;
  }
}
