<div class="pop_up_wr--new" id="pop_sign">
  <div class="pop_up pop_up--new">
    <div class="pop_up__top">
      <div class="title"></div>
      <span class="close">
        <img src="./assets/img/close_icon.svg" alt="">
      </span>
    </div>
    <div class="pop_up__body">
      <div class="top">
        <img src="./assets/img/mur_meow_icon.svg" alt="">
      </div>
      <div *ngIf="success" class="err__message success">
        {{success}}
      </div>
      <div *ngIf="error" class="err__message error">
        {{error}}
      </div>
      <div class="input_row input_row--submit">
        <input type="button" value="Ok" class="qt_btn--gold submit_btn" (click)="ok()">
      </div>
    </div>
  </div>
</div>