:host{
  display: block;
  position: relative;
  padding-top: 100%;
  width: 100%;
}

/deep/ .main_color{
  width: 100%;
  height: 100%;
}
/deep/ .svg_layout{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/deep/ .svg_layout svg{
  width: 100%;
  height: 100%;
  display: block;
}

/deep/ .opacity75{
  opacity: .75;
}

/deep/ .opacity5{
  opacity: .5;
}

/deep/ .opacity25{
  opacity: .25;
}
