<!--<pre style="position: fixed; right: 0;top:0;">
  {{options | json}}
</pre>
<pre style="position: fixed; right: 0;bottom:0;">
  {{options.breed?.svg}}
</pre>-->

<div class="svg_layout main_color" [style.background]="colors.main_color"></div>

<ng-template [ngIf]="options.has_tortie">
  <div class="svg_layout"
       appLoadSvg="tortie"
       [color]="colors.tortie"
       path="tortie/"
       *ngIf="!options.whitespot?.svg"></div>
  <div class="svg_layout"
       appLoadSvg="calico"
       [color]="colors.tortie"
       path="calico/"
       *ngIf="options.whitespot?.svg"></div>
</ng-template>

<div class="svg_layout"
     [appLoadSvg]="options.pattern?.svg"
     [color]="colors.tabby_color"
     path="tabby_patterns/"
     [gradient]="options.gradient"
     [class.opacity75]="options.smoke"
></div>

<ng-template [ngIf]="options.has_tortie">
  <div class="svg_layout"
       [appLoadSvg]="options.pattern?.svg || 'tabby_3'"
       [color]="colors.silver_gold_color || colors.tortie_pattern"
       path="tortie/"
       [class.opacity75]="options.smoke"
       *ngIf="!options.whitespot?.svg"></div>
  <div class="svg_layout"
       [appLoadSvg]="options.pattern?.svg || 'tabby_3'"
       [color]="colors.silver_gold_color || colors.tortie_pattern"
       path="calico/"
       [class.opacity75]="options.smoke"
       *ngIf="options.whitespot?.svg"></div>
</ng-template>


<div class="svg_layout" appLoadSvg="smoke" [gradient]="true" *ngIf="options.smoke" [color]="colors.tabby_color"></div>
<div class="svg_layout" [appLoadSvg]="options.point_color.svg" path="point_color/" *ngIf="options.point_color?.svg"></div>
<div class="svg_layout" [appLoadSvg]="options.whitespot.svg" path="whitespots/" *ngIf="options.whitespot?.svg"></div>
<div class="svg_layout" appLoadSvg="whiskers" *ngIf="options.pattern?.svg && !options.point_color?.svg"> </div>
<div class="svg_layout"
     appLoadSvg="contour_X"
     [path]=" 'breeds/' + options.breed?.svg + '/' "
> </div>
<div class="svg_layout"
     appLoadSvg="lighttone_X"
     [path]=" 'breeds/' + options.breed?.svg + '/' "
> </div>
<div class="svg_layout"
     appLoadSvg="darktone_X"
     [path]=" 'breeds/' + options.breed?.svg + '/' "
> </div>
<div class="svg_layout" [appLoadSvg]="options.eyes" path="eyes/"> </div>
<div class="svg_layout" appLoadSvg="pnef_0"></div>
<div class="svg_layout"
     appLoadSvg="pnef"
     [color]="colors.pnef"
     [ngClass]="{
                'opacity25' : options.pattern?.svg,
                'opacity5'  : options.point_color?.svg,
                'opacity75' : options.silver_gold_color
              }"
     ></div>
<div class="svg_layout"
     appLoadSvg="tcsp"
     [color]="colors.tcsp"
     path="tortie/"
     *ngIf="options.has_tortie"
     [ngClass]="{
              'opacity25' : options.pattern?.svg,
              'opacity5'  : options.point_color?.svg,
              'opacity75' : options.silver_gold_color
            }"
     ></div>
<div class="svg_layout" appLoadSvg="noseframe" *ngIf="colors.silver_gold_color"></div>
<div class="svg_layout" appLoadSvg="skin_wsp" *ngIf="options.whitespot?.svg"></div>
<div class="svg_layout"
     appLoadSvg="scetch_X"
     [path]=" 'breeds/' + options.breed?.svg + '/' "
> </div>
<div class="svg_layout" [appLoadSvg]="options.odd_eye.svg" path="odd_eyes/" *ngIf="options.odd_eye?.svg"></div>
