<div class="breed_picked">
  <div class="cont">
    <app-loader [relation]="true" color="#fff" ></app-loader>
    <div class="breed_picked__image">
      <img src="{{'/assets/images/breeds/big/' + breed.id + '.jpg'}}" alt="breed">
    </div>
    <div class="breed_picked__info">
      <div class="breed_picked__close">
        <img class="icn" src="assets/img/close_icn.svg" alt="" (click)="close()">
      </div>
      <div class="text">
        <div class="text__title">
          {{breed.name}}
        </div>
        <div class="text__description descript">
          <div class="descript__top">
            <span>
              <svg width="20px" height="14px" viewBox="0 0 20 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="02" transform="translate(-857.000000, -622.000000)" fill="#d2ac67">
                    <g id="Group-234" transform="translate(857.000000, 618.452700)">
                      <path d="M1.0963,4.0142 L18.3856,4.0142 C18.7683,4.0142 19.0818,4.328 19.0818,4.7104 L19.0818,16.1323 C19.0818,16.5147 18.7677,16.8285 18.3856,16.8285 L1.0963,16.8285 C0.7139,16.8285 0.4004,16.5153 0.4004,16.1323 L0.4004,4.7104 C0.4004,4.3274 0.7133,4.0142 1.0963,4.0142 Z M14.471,11.0302 L14.0557,11.2783 L13.7317,10.9186 L13.262,11.0328 L13.0582,10.5931 L12.5755,10.5634 L12.51,10.0832 L12.0576,9.9123 L12.1364,9.434 L11.754,9.137 L11.97,8.703 L11.6919,8.3061 L12.0258,7.9555 L11.8767,7.494 L12.2991,7.2573 L12.2923,6.7723 L12.7654,6.6714 L12.9012,6.206 L13.3831,6.2488 L13.6498,5.8443 L14.0974,6.0279 L14.471,5.7204 L14.8449,6.0279 L15.2925,5.8443 L15.5595,6.2488 L16.0408,6.206 L16.1769,6.6714 L16.65,6.7723 L16.6432,7.2573 L17.0653,7.494 L16.9162,7.9555 L17.2501,8.3061 L16.9723,8.703 L17.188,9.137 L16.8059,9.434 L16.8844,9.9123 L16.432,10.0832 L16.3665,10.5634 L15.8838,10.5931 L15.6803,11.0328 L15.2106,10.9186 L14.8866,11.2783 L14.471,11.0302 Z"
                        id="Fill-233"></path>
                    </g>
                  </g>
                </g>
              </svg>
              First recognized {{breed.firstRecognitionYear}} </span>
            <div class="cc">
              <span *ngFor="let f of breed.fennologicalSystemNames; let last = last">
                <span>{{f}}</span>
                <span [ngClass]="{ first: first, last: last }"> | </span>
              </span>
            </div>
          </div>
          <div class="descript__about">
            <div class="item">
              <img src="assets/img/breed_search_icon_1.svg" alt="">{{breed.weightFrom}}-{{breed.weightTo}} lb
            </div>
            <div class="item">
              <img src="assets/img/breed_search_icon_2.svg" alt="">up to {{breed.height}} inch
            </div>
            <div class="item">
              <img src="assets/img/breed_search_icon_3.svg" alt="">{{breed.lifeSpanFrom}} to {{breed.lifeSpanTo}} years
            </div>
          </div>
          <div class="descript__text" [innerHTML]="breed.description">
            <div class="read_more">
              <a href="#" style="display: none;">Read more...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="breed_picked__traits traits">
        <div class="traits__title">
          Traits
        </div>
        <div class="traits__stats">
          <app-property-table [properties]="PROPERTY" *ngIf="PROPERTY"></app-property-table>
        </div>
      </div>
      <app-search-form class="mt-4"></app-search-form>
    </div>
  </div>
</div>
