@import "../../../../assets/styles/varibles";
@import "../../../../assets/styles/mixins";

.advanced_search{
  line-height: 1.2;
  width: 100%;
  position: relative;
  z-index: 2;
  &.open{
    .advanced_search__result{
      display: block;
    }
  }
  &__result{
    font-size: size(12);
    border-radius: 20px 0 20px 20px;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: calc(100% - 85px);
    background: rgba(255,255,255, .96);
    padding: 50px 35px 20px;
    box-sizing: border-box;
    z-index: 0;
    li{
      a{
        &:hover{
          color:$theme_color_gold;
        }
      }
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
  &__form{
    border-radius: 150px;
    overflow: hidden;
    display: flex;
    height: 35px;
    position: relative;
    z-index: 1;
  }
  &__show{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    font-size: size(12);
    color: #B8B4AE;
    &:hover{
      text-decoration: underline;
    }
  }
  &__icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }
  $fileld_color: rgba(252,252,252, 1);
  input[type=text], select{
    //background-color: rgba(255,255,255,.5);
    background-color: $fileld_color;
    border:1px solid rgb(229, 229, 229);
    color:#B8B4AE;
    font-family: 'LatoRegular', sans-serif;
    font-size: size(12);
    border-radius: 0;
  }
  .inp{
    width: 100%;
    position: relative;
    display: flex;
  }
  input[type=text]{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 36px;
    border-radius: 50px 0 0 50px;
  }
  .qt_btn{
    align-self: stretch;
    border: none;
    margin: -1px;
    text-align: center;
    padding: 0 30px 0 14px;

    font-family: 'LatoBold', sans-serif;
    display: block;
    font-size: size(14);
    cursor: pointer;
  }
  select{
    padding: 0 32px 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 1px;
    background: $fileld_color url("/assets/img/select__icon.svg") calc(100% - 15px) 50% no-repeat;
  }
}



.search_option_attr{
  display: flex;
  &__title{
    width: 120px;
    font-size: 14px;
  }
}
.breed_picked{
  background: #fff;
  .cont{
    display: flex;
    align-items: flex-start;
    height: 400px;
  }
  &__traits{

  }
  &__image{
    //max-width: 530px;
    width: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img{
      display: block;
      max-width: 100%;
    }
  }
  &__close{
    width: 100%;
    display: flex;
    padding-top: 20px;
    .icn{
      cursor: pointer;
      margin-left: auto;
    }
  }
  &__info{
    width: calc(100% - 530px);
    display: flex;
    flex-wrap: wrap;
    .advanced_search{
      margin-top: 15px;
    }
    .traits{
      padding-top: 35px;
      width: 220px;
      &__title{
        width: 100%;
        text-align: center;
        font-size: size(16);
        font-family: 'LatoBold', sans-serif;
        margin-bottom: 5px;
      }
      .search_option_attr{
        margin-bottom: 2px;
      }
      &__stats{
        /deep/ .search_option_attr {
          color: #000;
          line-height: 1;
          font-size: size(14);
        }
      }
    }
    .text{
      box-sizing: border-box;
      width: calc(100% - 220px);
      padding-right: 17px;
      &__title{
        font-size: 24px;
        font-family: 'LatoBold', sans-serif;
        margin-bottom: 5px;
      }
    }
  }
  .descript{
    font-size: size(10);
    &__top{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: size(12);
      align-items: center;
      svg{
        vertical-align: bottom;
        margin-right: 6px;
      }
      >span{
        font-family: 'LatoLight' , sans-serif;
      }
      .cc{
        font-size: size(14);
        span{
          color:$theme_color_gold;
        }
        .last{
          display: none;
        }
      }
    }
    &__text{
      padding-right: 20px;
      box-sizing: border-box;
    }
    &__about{
      display: flex;
      margin-bottom: 10px;
      font-size: size(12);
      .item{
        margin-right: 15px;
        img{
          display: inline-block;
          margin-right: 10px;
          vertical-align: text-bottom;
        }
      }
    }
    &__text{
      .read_more{
        text-align: right;
        color: $theme_color;
        a{
          text-decoration:none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      p{
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }
    }
  }
}
