@import "../../../assets/styles/varibles";
@import "../../../assets/styles/mixins";

:host{
  display: block;
  &.selected{
    ::ng-deep{
      .title{
        color: $theme_color;
      }
      .svg_wr{
        border-color: #B8B4AE;
        .tb_checkbox__color{
          fill: $theme_color!important;
        }
      }
    }
  }

  ::ng-deep{
    input{
      display: none;
    }
    .title{
      display: block;
      text-align: center;
      padding: 0 0 10px 0;
      color: #B8B4AE;
      font-size: size(16);
    }
    span{
      display: block;
    }
    .svg_wr{
      margin: 0 auto;
      cursor: pointer;
      border-radius: 50%;
      background: #F2F3F4;
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      border:1px solid rgba(255,255,255, 0);
    }
  }
}
