@import "../../../assets/styles/varibles";
@import "../../../assets/styles/mixins";

:host{
  display: block;
  width: 100%;
  box-sizing: border-box;
  .svg_wr{
    display: block;
  }
  &.selected{
    ::ng-deep{
      .title{
        color: $theme_color;
      }
      select{
        color: $theme_color;
        border-color: #B8B4AE;
      }
    }
  }
  ::ng-deep{
    .title{
      padding: 0 0 10px 15px;
      color: #B8B4AE;
    }
    select{
      cursor: pointer;
      display: block;
      border: 1px solid transparent;
      padding: 9px 30px 9px 20px;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      border-radius: 50px;
      background: #F2F3F4 url("/assets/img/select__icon.svg") calc(100% - 15px) 50% no-repeat;
      color: #B5B2AC;
      font-size: size(12);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

