@media screen and (max-width: 1054px){
  header.header{
    .notification.active{
      display: block;
    }
  }
  select{
    font-size: 50px;
  }
}

@media screen and (max-width: 798px){
  .header .header__top .search{
    display: block;
  }
  header.header{
    .header__top .logged .btns .btn{
      position: static;
    }
    .notification{
      width: 100%;
      top: 64px;
      box-sizing: border-box;
    }
  }
  .mobile_menu{
    display: block;
  }
  input, button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@media screen and (max-width: 425px){
  body{
    padding-bottom: 60px;
  }
  .mobile_menu{
    display: block;
  }
  .header{
    .logo{
      width: calc(100% / 6);
      overflow: hidden;
      max-width: 50px;
    }
    .header{
      .menu{
        position: static;
      }
      &__top{
        .menu{
          position: static;
          text-align: left;
          &__body{
            border-radius: 0;
          }
          &__copy{
            display: none;
          }
          &__social{
            padding: 20px 0;
          }
          &__close{
            display: block;
          }
          .menu__body{
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
          }
          &.menu_open{
            .menu__body{
              top: 0;
              text-align: left;
              width: 100%;
              padding: 20px 20px 0 20px;
            }
          }
        }
        .menu{
          // width: calc(100% / 6);
          width: 25px;
          text-align: right;
          &__icon{
            display: inline-block;
          }
        }
        .cont{
          justify-content: space-between;
        }
        .logged{
          margin: 0;
          width: calc((100% / 6) * 4);
          .btns{
            padding: 0;
            margin: 0;
            border: none;
            width: 75%;
            display: flex;
            justify-content: space-between;
            .btn{
              margin: 0!important;
            }
          }
          .user {
            width: 25%;
            .ava{
              margin: 0;
            }
            .name{
              display: none;
            }
          }
        }
      }
    }
  }

  .footer{
    padding: 20px 0;
    &__top{
      margin-bottom: 20px;
    }
    &__bottom{
      margin-bottom: 0;
    }
    &__copyright{
      padding-top: 9px;
      font-size: size(14);
    }
    &__social{
      margin-bottom: 20px;
      text-align: center;
      a{
        margin-right:0;
        img{
          display: block;
          max-width: 100%;
        }
        &:not(:last-child){
          margin-right: 25px;
        }
      }
    }
    &__row{
      margin: 0 0 25px 0;
      justify-content: space-between;
      //flex-wrap:wrap;
      .col{
        width: auto;
        margin: 0;

        .col__title{
          margin: 0;
          font-size: size(15);
          &:not(:first-child){
            display: none;
          }
        }
        ul{
          display: none;

        }
        &__title{
          margin-bottom: 15px;
        }
      }
    }
  }
}