@media screen and (max-width: 505px){
  .pop_up_wr{
    &#cat_item{
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      overflow: auto;
      .parent_tr{
        padding-top: 10px;
        margin-top: 50px;
        .item_line{
          &__top{
            max-width: 100%;
            top: -35px;
          }
          &__connect{
            top: -35px;
            height: 22px;
          }
        }
        .item__icon{
          width: 30px;
          height: inherit;
        }
        .img{
          img{
            width: 100%;
          }
        }
      }
      .pop_up{
        border-radius: 0;
        padding: 0;
        &__top{

        }
        &__image{
          width: 100%;
          .item{
            width: 100%;
            border-radius: 0;
            img{
              width: 100%;
            }
          }
        }
        &__info{
          padding: 20px;
          width: 100%;
          .info_row{
            margin-bottom: 10px;
            font-size: 14px;
            &--br{
              .title{
                margin: 10px 0;
              }
              img{
                width: 100%;
              }
            }
          }
        }
        &__top{
          padding: 8px 0;
          position: relative;
          width: 100%;
          .close{
            position: absolute;
            top: 50%;
            right: 10px;
            display: block;
            transform: translate(0, -50%);
          }
          .qt_btn.flw__btn{
            margin-right: 0;
          }
          .tools{
            width: 100%;
            margin: 0;
          }
          .title{
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px){
  .pop_up_wr--register{
    .pop_up__body{
      position: relative;
      padding-top: 75px;
    }
    form{
      padding: 0;
    }
    .input_row--birthday{
      margin-bottom: 10px;
    }
    .form_row{
      .input_row{
        .input_row--birthday{
          margin-bottom: 10px;
        }
        &.text_right{
          .inp{
            width: 100%;
          }
        }
      }

      &.d_flex{
        flex-wrap: wrap;
        .img{
          position: absolute;
          top: 20px;
          left: 50%;
          transform: translate( -50%, 0);
        }
        .load_image{
          margin: 20px auto;
        }
        .left_col, .right_col{
          width: 100%;
        }
      }
    }
  }

  .pop_up--new form{
    padding: 0;
  }
}
@media screen and (max-height: 950px){
  .pop_up_wr--register{
    height: 100%;
    .pop_up{
      height: 100%;
      overflow: auto;
    }
  }
}
@media screen and (max-height: 577px){
  .pop_up_wr{
    height: 100%;
    .pop_up{
      height: 100%;
      overflow: auto;
    }
  }
}