<app-loader></app-loader>
<header class="header">
    <div class="header__top">
        <div class="cont">
            <a href="/" class="logo">
                <img src="./assets/img/logo.svg" alt="">
            </a>
            <div class="logged" *ngIf="authService.signedIn()">
                <div class="user">
                    <div class="ava">
                        <img src="./assets/images/owner_ava.png" alt="">
                    </div>
                    <div class="name">
                        {{authService.getUserFullName()}}
                    </div>
                </div>
                <div class="btns" style="display: none">
                    <div class="btn">
                        <div class="btn__body">
                            <img src="./assets/img/logged_icn_1.svg" alt="">
                            <span class="counter">2</span>
                        </div>
                        <div class="notification profile">
                            <div class="notification__close">
                                <img src="./assets/img/close_icon.svg" alt="">
                            </div>
                            <div class="notification__items">
                                <div class="notification__item item">
                                    <div class="item__top">
                                        <div class="icon">
                                            <img src="./assets/img/notification_icon_1.svg" alt="">
                                        </div>
                                        <div class="title">
                                            <span style="color:#F38186;">New Vaccine needed</span>
                                        </div>
                                        <div class="time">
                                            2 hours ago
                                        </div>
                                    </div>
                                    <div class="item__bottom">
                                        <div class="text">
                                            RABIA vaccine will expired at January 25 2018
                                            <span style="color: #A84521;">see veterinary clinic</span> close to you
                                        </div>
                                    </div>
                                </div>
                                <div class="notification__item item">
                                    <div class="item__top">
                                        <div class="icon">
                                            <img src="./assets/img/notification_icon_2.svg" alt="">
                                        </div>
                                        <div class="title">
                                            <span style="color:#6C8BC6;">New Vaccine needed</span>
                                        </div>
                                        <div class="time">
                                            2 hours ago
                                        </div>
                                    </div>
                                    <div class="item__bottom">
                                        <div class="text">
                                            RABIA vaccine will expired at January 25 2018
                                            <span style="color: #A84521;">see veterinary clinic</span> close to you
                                        </div>
                                        <div class="ava">
                                            <img src="./assets/images/notification_ava.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <div class="btn__body">
                            <img src="./assets/img/logged_icn_2.svg" alt="">
                            <span class="counter">2</span>
                        </div>
                    </div>
                    <div class="btn">
                        <div class="btn__body">
                            <img src="./assets/img/logged_icn_3.svg" alt="">
                            <span class="counter">2</span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="outline_btn open_pop" (click)="signIn()" *ngIf="!authService.signedIn()">Sign In</span>
            <nav-menu></nav-menu>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="cont">
        <div class="footer__top">
            <a href="/" class="logo">
                <img src="./assets/img/logo.svg" alt="">
            </a>
        </div>
        <div class="footer__bottom">
            <div class="footer__row">
                <div class="footer__col col">
                    <div class="col__title">Kittens</div>
                    <ul>
                        <li class="col__item">
                            <a href="#">Hypoallergenic</a>
                        </li>
                        <li class="col__item">
                            <a href="#">Cutest</a>
                        </li>
                        <li class="col__item">
                            <a href="#">Fluffy</a>
                        </li>
                        <li class="col__item">
                            <a href="#">Best</a>
                        </li>
                        <li class="col__item">
                            <a href="#">House</a>
                        </li>
                        <li class="col__item">
                            <a href="#">Rare</a>
                        </li>
                        <li class="col__item">
                            <a href="#">Wild</a>
                        </li>
                        <li class="col__item">
                            <a href="#">Exotic</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col col">
                    <div class="col__title">Catteries</div>
                    <ul>
                        <li class="col__item">
                            <a href="#">Hairless</a>
                        </li>
                        <li class="col__item">
                            <a href="#">Short Hair</a>
                        </li>
                        <li class="col__item">
                            <a href="#">Medium Hair</a>
                        </li>
                        <li class="col__item">
                            <a href="#">Long Hair</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col col">
                    <div class="col__title">Services</div>
                    <ul>
                        <li class="col__item">
                            <a href="#">Veterinarians</a>
                        </li>
                        <li class="col__item">
                            <a href="#">Grooming</a>
                        </li>
                        <li class="col__item">
                            <a href="#">Cat Sitters</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col col">
                    <div class="col__title">
                        <a href="#">FAQ</a>
                    </div>
                    <div class="col__title">
                        <a href="#">Interesting</a>
                    </div>
                    <div class="col__title">
                        <a href="#">Contacts</a>
                    </div>
                    <div class="col__title">
                        <a href="#">About</a>
                    </div>
                    <div class="col__title">
                        <a href="#">Help</a>
                    </div>
                    <div class="col__title">
                        <a href="#">Become a Partner</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__social">
            <a href="#" target="_blank">
                <img src="./assets/img/social_1.svg" alt="">
            </a>
            <a href="#" target="_blank">
                <img src="./assets/img/social_2.svg" alt="">
            </a>
            <a href="#" target="_blank">
                <img src="./assets/img/social_3.svg" alt="">
            </a>
            <a href="#" target="_blank">
                <img src="./assets/img/social_4.svg" alt="">
            </a>
            <a href="#" target="_blank">
                <img src="./assets/img/social_5.svg" alt="">
            </a>
        </div>
        <div class="footer__copyright">TabbyBook, Inc © 2017 All rights reserved</div>
    </div>
</footer>
