<div class="search_options attr_2">
  <div class="search_options__col">
    <ng-template [ngIf]="disable_panel">
      <app-property-table-row
        *ngFor="let prop of properties;"
        [prop]="prop"
        [stars]="stars"
        [disable_state] = 'disable_panel'
      ></app-property-table-row>
    </ng-template>
    <ng-template [ngIf]="!disable_panel">
      <app-property-table-row
        *ngFor="let prop of properties;"
        [prop]="prop"
        [stars]="stars"
        name="{{prop.title}}"
        [(ngModel)]="prop.name"
        ngModel
        [disable_state] = 'disable_panel'
      ></app-property-table-row>
    </ng-template>
  </div>
</div>
