<div class="pop_up_wr--new" id="pop_sign">
  <div class="pop_up pop_up--new">
    <div class="pop_up__top">
      <div class="title">Log In</div>
      <span class="close">
        <img src="./assets/img/close_icon.svg" alt="">
      </span>
    </div>
    <div class="pop_up__body">
      <div class="top">
        <img src="./assets/img/mur_meow_icon.svg" alt="">
      </div>
      <form name="loginForm" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="input_row " [ngClass]="{ 'is_invalid': f.submitted && !username.valid }">
          <input type="text" placeholder="email / cell phone" name="username" [(ngModel)]="loginModel.username" #username="ngModel"
            required>
          <div class="err">email / cell phone is required</div>
        </div>
        <div class="input_row" [ngClass]="{ 'is_invalid': f.submitted && !password.valid }">
          <input type="password" placeholder="password" name="password" [(ngModel)]="loginModel.password" #password="ngModel" required>
          <div class="err">
            password is required
          </div>
        </div>
        <div class="input_row input_row--submit">
          <input type="submit" value="Log In" class="qt_btn--gold submit_btn">
        </div>
        <div *ngIf="error" class="err__message error">
          {{error}}
          <input type="button" (click)="sendconfirmcode()" value="Send confirmation code" class="qt_btn--gold submit_btn" *ngIf="isNotComfirm">
          <input type="button" (click)="forgotpassword()" value="Forgot password?" class="qt_btn--gold submit_btn" *ngIf="isForgotPassword">
        </div>
      </form>
      <div class="social">
        <app-oauth-links></app-oauth-links>
        <div class="text">
          <span>Log In with social network</span>
          <span class="sign_up open_pop" (click)="signup()">Sign Up</span>
        </div>
      </div>
    </div>
  </div>
</div>