<div class="pop_up_wr--new" id="pop_sign">
    <div class="pop_up pop_up--new">
        <div class="pop_up__top">
            <div class="title">Forgot password</div>
            <span class="close">
                <img src="./assets/img/close_icon.svg" alt="">
            </span>
        </div>
        <div class="pop_up__body">
            <div class="top">
                <img src="./assets/img/mur_meow_icon.svg" alt="">
            </div>
            <form name="form" (ngSubmit)="f.form.valid && restore()" #f="ngForm" novalidate>
                <div class="input_row " [ngClass]="{ 'is_invalid': f.submitted && !username.valid }">
                    <input type="text" placeholder="email / cell phone" name="username" [(ngModel)]="confirmModel.username" #username="ngModel"
                        required>
                    <div class="err">email / cell phone is required</div>
                </div>
                <div class="input_row input_row--submit">
                    <input type="submit" value="Restore password" class="qt_btn--gold submit_btn">
                </div>
                <div *ngIf="error" class="err__message error">
                    {{error}}
                </div>
            </form>
        </div>
    </div>
</div>