@import "../../../../assets/styles/varibles";
@import "../../../../assets/styles/mixins";


.search_option_attr{
  display: flex;
  color: #B8B4AE;
  align-items: center;
  margin-bottom: 3px;
  &.selected{
    color: $theme_color_gold!important;
  }
  &__title{
    width: 120px;
    font-size: size(14);
  }
}
svg:not(:last-child){
  margin-right: 5px;
}
svg.selected{
  .svg_color{
    fill: $theme_color_gold;
  }
}

.search_option_attr.pointer{
  svg{
    cursor: pointer;
  }
}
