<div class="pop_up_wr--new pop_up_wr--register" id="pop_register">
  <div class="pop_up pop_up--new pop_up--register">
    <div class="pop_up__top">
      <div class="title">Create new profile</div>
      <span class="close">
        <img src="./assets/img/close_icon.svg" alt="">
      </span>
    </div>
    <div class="pop_up__body">
      <form name="registrationForm" (ngSubmit)="f.form.valid && registration()" #f="ngForm" novalidate>
        <div class="form_row d_flex">
          <div class="left_col">
            <label for="ava" class="load_image">
              <img src="" alt="" class="prev_ava">
              <p>+</p>
              Add photo
            </label>
            <input type="file" id="ava" class="load_image__inp" #file (change)="onFileChange($event)">
          </div>
          <div class="right_col">
            <div class="img">
              <img src="./assets/img/mur_meow_icon.svg" alt="">
            </div>
            <div class="input_row required" [ngClass]="{ 'is_invalid': f.submitted && !emailOrPhoneNumber.valid }">
              <div class="inp">
                <div class="label">
                  <p>email / cell phone
                    <span class="req_st">*</span>
                  </p>
                </div>
                <input type="text" name="emailOrPhoneNumber" [(ngModel)]="registrationModel.emailOrPhoneNumber" #emailOrPhoneNumber="ngModel"
                  required>
              </div>
              <div class="err">
                email / cell phone is required
              </div>
            </div>
            <div class="input_row required" [ngClass]="{ 'is_invalid': f.submitted && !password.valid }">
              <div class="inp">
                <div class="label">
                  <p>Password
                    <span class="req_st">*</span>
                  </p>
                </div>
                <input type="password" name="password" [(ngModel)]="registrationModel.password" #password="ngModel" required>
              </div>
              <div class="err">
                password is required
              </div>
            </div>
            <div class="input_row required" [ngClass]="{ 'is_invalid': f.submitted && !passwordConfirmation.valid }">
              <div class="inp">
                <div class="label">
                  <p>Confirm Password
                    <span class="req_st">*</span>
                  </p>
                </div>
                <input type="password" name="passwordConfirmation" [(ngModel)]="registrationModel.passwordConfirmation" #passwordConfirmation="ngModel"
                  required>
              </div>
              <div class="err">
                confirm password is required
              </div>
            </div>
          </div>
        </div>
        <div class="form_row d_flex">
          <div class="left_col">
            <div class="input_row input_row--birthday required">
              <div class="label">
                <p>Date of Birth
                  <span class="req_st">*</span>
                </p>
              </div>
              <div class="inps">
                <div class="inp">
                  <select name="day" [(ngModel)]="registrationModel.day" #day="ngModel">
                    <option value="0"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                  </select>
                </div>
                <div class="inp">
                  <select name="month" [(ngModel)]="registrationModel.month" #month="ngModel">
                    <option value="0"></option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                </div>
                <div class="inp">
                  <select name="year" [(ngModel)]="registrationModel.year" #year="ngModel">
                    <option value="0"></option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                    <option value="1996">1996</option>
                    <option value="1995">1995</option>
                    <option value="1994">1994</option>
                    <option value="1993">1993</option>
                    <option value="1992">1992</option>
                    <option value="1991">1991</option>
                    <option value="1990">1990</option>
                    <option value="1989">1989</option>
                    <option value="1988">1988</option>
                    <option value="1987">1987</option>
                    <option value="1986">1986</option>
                    <option value="1985">1985</option>
                    <option value="1984">1984</option>
                    <option value="1983">1983</option>
                    <option value="1982">1982</option>
                    <option value="1981">1981</option>
                    <option value="1980">1980</option>
                  </select>
                </div>
              </div>
              <div class="err">
                Field is required
              </div>
            </div>
          </div>
          <div class="right_col">
            <div class="input_row text_right">
              <div class="inp">
                <div class="label">
                  <p>Gender</p>
                </div>
                <select name="gender" [(ngModel)]="registrationModel.gender" #gender="ngModel">
                  <option value="0"></option>
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form_row d_flex multi_row">
          <div class="input_row required left_col" [ngClass]="{ 'is_invalid': f.submitted && !firstName.valid }">
            <div class="inp">
              <div class="label">
                <p>First name
                  <span class="req_st">*</span>
                </p>
              </div>
              <input type="text" name="firstName" [(ngModel)]="registrationModel.firstName" #firstName="ngModel" required>
            </div>
            <div class="err">
              First name is required
            </div>
          </div>
          <div class="input_row required right_col" [ngClass]="{ 'is_invalid': f.submitted && !lastName.valid }">
            <div class="inp">
              <div class="label">
                <p>Last name
                  <span class="req_st">*</span>
                </p>
              </div>
              <input type="text" name="lastName" [(ngModel)]="registrationModel.lastName" #lastName="ngModel" required>
            </div>
            <div class="err">
              Last name is required
            </div>
          </div>
        </div>
        <div class="social">
          <app-oauth-links></app-oauth-links>
        </div>

        <!-- breeder -->
        <!--<div class="breeder_info" [class.show]="breeder">
          <div class="breeder_info__body" *ngIf="breeder">
            <div class="form_row d_flex multi_row">
              <div class="input_row left_col">
                <div class="inp">
                  <div class="label">
                    <p>Felinological system</p>
                  </div>
                  <div class="inp">
                    <select>
                      <option value="0"></option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="input_row right_col">
                <div class="inp">
                  <div class="label">
                    <p>Certificate number</p>
                  </div>
                  <input type="text" name="">
                </div>
              </div>


              <div class="input_row left_col">
                <div class="input_row&#45;&#45;birthday mb-10">
                  <div class="label">
                    <p>Date Start</p>
                  </div>
                  <div class="inps">
                    <div class="inp">
                      <select>
                        <option value="0"></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                      </select>
                    </div>
                    <div class="inp">
                      <select name="">
                        <option value="0"></option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                      </select>
                    </div>
                    <div class="inp">
                      <select name="">
                        <option value="0"></option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="input_row&#45;&#45;birthday">
                  <div class="label">
                    <p>Date End</p>
                  </div>
                  <div class="inps">
                    <div class="inp">
                      <select>
                        <option value="0"></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                      </select>
                    </div>
                    <div class="inp">
                      <select name="">
                        <option value="0"></option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                      </select>
                    </div>
                    <div class="inp">
                      <select name="">
                        <option value="0"></option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                      </select>
                    </div>
                  </div>
                  <div class="err">
                    Field is required
                  </div>
                </div>
              </div>
              <div class="input_row input_row&#45;&#45;birthday right_col ">
                <div class="vertical_middle">
                  <label for="breed_ava" class="load_image load_image&#45;&#45;square">
                    <img src="" alt="" class="prev_ava">
                    <p>+</p>
                  </label>
                  <input type="file" id="breed_ava" class="load_image__inp">
                </div>
              </div>


              <div class="input_row right_col">
                <div class="inp">
                  <div class="label">
                    <p>Master First Name</p>
                  </div>
                  <input type="text" name="">
                </div>
              </div>
              <div class="input_row left_col">
                <div class="inp">
                  <div class="label">
                    <p>Master Last Name</p>
                  </div>
                  <input type="text" name="">
                </div>
              </div>
            </div>
          </div>
          <div class="breeder_info__top">
            <div class="breeder_info__text">
              Are you breeder?
            </div>
            <div class="breeder_info__btn">
              <span (click)="show_breeder()"></span>
            </div>
          </div>
        </div>-->
        <!-- end breeder -->

        <!--        <div class="err__message success">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aperiam assumenda consectetur consequuntur, earum eveniet fuga harum inventore molestias nam omnis possimus quia quis quisquam sapiente ut veniam! Libero!q
        </div>-->

        <div *ngIf="error" class="err__message error">
          {{error}}
        </div>
        <div class="input_row input_row--submit">
          <input type="submit" value="Register" class="qt_btn--gold submit_btn">
        </div>
      </form>
    </div>
  </div>
</div>