<div class="pop_up_wr--new" id="pop_sign">
    <div class="pop_up pop_up--new">
        <div class="pop_up__top">
            <div class="title">Reset password</div>
            <span class="close">
                <img src="./assets/img/close_icon.svg" alt="">
            </span>
        </div>
        <div class="pop_up__body">
            <div class="top">
                <img src="./assets/img/mur_meow_icon.svg" alt="">
            </div>
            <form name="form" (ngSubmit)="f.form.valid && reset()" #f="ngForm" novalidate>
                <div class="input_row required" [ngClass]="{ 'is_invalid': f.submitted && !password.valid }">
                    <div class="inp">
                        <div class="label">
                            <p>Password
                                <span class="req_st">*</span>
                            </p>
                        </div>
                        <input type="password" name="password" [(ngModel)]="resetModel.password" #password="ngModel" required>
                    </div>
                    <div class="err">
                        password is required
                    </div>
                </div>
                <div class="input_row required" [ngClass]="{ 'is_invalid': f.submitted && !passwordConfirmation.valid }">
                    <div class="inp">
                        <div class="label">
                            <p>Confirm Password
                                <span class="req_st">*</span>
                            </p>
                        </div>
                        <input type="password" name="passwordConfirmation" [(ngModel)]="resetModel.passwordConfirmation" #passwordConfirmation="ngModel"
                            required>
                    </div>
                    <div class="err">
                        confirm password is required
                    </div>
                </div>
                <div class="input_row required" [ngClass]="{ 'is_invalid': f.submitted && !resetToken.valid }" *ngIf="isPhone">
                    <div class="inp">
                        <div class="label">
                            <p>Code
                                <span class="req_st">*</span>
                            </p>
                        </div>
                        <input type="password" name="resetToken" [(ngModel)]="resetModel.resetToken" #resetToken="ngModel" required>
                    </div>
                    <div class="err">
                        code is required
                    </div>
                </div>
                <div class="input_row input_row--submit">
                    <input type="submit" value="Reset password" class="qt_btn--gold submit_btn">
                </div>
                <div *ngIf="error" class="err__message error">
                    {{error}}
                </div>
            </form>
        </div>
    </div>
</div>