<div class="adv_search" *ngIf="show_search">
  <div class="cont">
    <div class="adv_search__close">
      <img class="icn" src="assets/img/close_icn.svg" alt="" (click)="close_panel()">
    </div>
    <div class="adv_search__field search_field">
      <div class="search_field__icon">
        <img src="assets/img/search__icon.svg" alt="">
      </div>
      <input type="text" class="search_field__input">
      <input type="submit" class="search_field__submit qt_btn--gold" value="Search">
    </div>
    <div class="adv_search__options">
      <div class="search_options f-wrap attr_1">
        <div class="search_options__row">
          <div class="search_options__col w-100">
            <t-select>
              <div #title>Breed</div>
              <select name="breed" [(ngModel)]="searchRequest.breedId">
                <!-- <option value="0">All</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option> -->
                <option *ngFor="let breed of breeds" [value]="breed.id">{{breed.name}}</option>
              </select>
            </t-select>
          </div>
        </div>
        <div class="search_options__row jc-s">
          <div class="search_options__col w-33">
            <t-select>
              <div #title>Sex</div>
              <select name="sex" [(ngModel)]="searchRequest.sex">
                <option value="0">All</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </t-select>
          </div>
          <div class="search_options__col w-33">
            <t-select>
              <div #title>Age</div>
              <select name="breed" [(ngModel)]="searchRequest.age">
                <option value="0">All</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </t-select>
          </div>
          <div class="search_options__col">
            <t-checkbox>
              <div #title>Nuetered</div>
              <input type="checkbox" name="nuetered" [(ngModel)]="searchRequest.nuetered">
            </t-checkbox>
          </div>
        </div>
        <div class="search_options__row jc-s">
          <div class="search_options__col w-50">
            <t-select>
              <div #title> Show class</div>
              <select name="breed" [(ngModel)]="searchRequest.age">
                <option value="0">All</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </t-select>
          </div>
          <div class="search_options__col w-50">
            <t-select>
              <div #title>Sales status</div>
              <select name="breed" [(ngModel)]="searchRequest.status">
                <option value="0">All</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </t-select>
          </div>
        </div>
      </div>
      <div class="search_options attr_2">
        <!-- <app-property-table [properties]="traits" [disable_panel]="false" [model]="searchRequest.traits"></app-property-table> -->
      </div>

      <div class="search_options color_calc">
        <div class="search_options__col">
          <div class="search_options__title">
            Color
          </div>
          <!-- <app-constructor [model]="model.constructor"></app-constructor> -->
        </div>
      </div>
      <div class="search_options attr_3">
        <!-- <app-constructor-properties [model]="model.constructor"></app-constructor-properties> -->
      </div>
    </div>
  </div>
</div>
