@import "../../../../assets/styles/varibles";
@import "../../../../assets/styles/mixins";
:host{
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 3;
  width: 100%;
}
.advanced_search{
  width: 100%;
  position: relative;
  z-index: 2;
  line-height: 1;
  &.open{
    .advanced_search__result{
      display: block;
    }
  }
  &__result{
    font-size: size(12);
    border-radius: 20px 0 20px 20px;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: calc(100% - 85px);
    background: rgba(255,255,255, .96);
    padding: 50px 35px 20px;
    box-sizing: border-box;
    z-index: 0;
    li{
      a{
        &:hover{
          color:$theme_color_gold;
        }
      }
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
  &__form{
    border-radius: 150px;
    overflow: hidden;
    display: flex;
    height: 35px;
    position: relative;
    z-index: 1;
  }
  &__show{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    font-size: size(12);
    color: #B8B4AE;
    &:hover{
      text-decoration: underline;
    }
  }
  &__icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }
  $fileld_color: rgba(252,252,252, 1);
  input[type=text], select{
    //background-color: rgba(255,255,255,.5);
    background-color: $fileld_color;
    border:1px solid rgb(229, 229, 229);
    color:#B8B4AE;
    font-family: 'LatoRegular', sans-serif;
    font-size: size(12);
    border-radius: 0;
  }
  .inp{
    width: 100%;
    position: relative;
    display: flex;
  }
  input[type=text]{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 36px;
    border-radius: 50px 0 0 50px;
  }
  .qt_btn{
    align-self: stretch;
    border: none;
    margin: -1px;
    text-align: center;
    padding: 0 30px 0 14px;

    font-family: 'LatoBold', sans-serif;
    display: block;
    font-size: size(14);
    cursor: pointer;
  }
  select{
    padding: 0 32px 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 1px;
    background: $fileld_color url("/assets/img/select__icon.svg") calc(100% - 15px) 50% no-repeat;
  }
}


.adv_search{
  background: #fff;
  padding: 14px 0;
  //display: none;
  .cont{
    box-sizing: border-box;
    // padding: 0 40px;
  }
  &__close{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
    .icn{
      cursor: pointer;
    }
  }

  &__options{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__field{
    display: flex;
    align-items: center;
  }
  .search_field{
    background: #fff;
    border:1px solid #B8B4AE;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 10px;
    &__icon{
      padding: 0 10px;
    }
    &__input{
      line-height: 35px;
      width: 100%;
      border: none;
    }
    &__submit{
      align-self: stretch;
      border: none;
      margin: -1px;
      text-align: center;
      padding: 0 30px;
      display: block;
      font-size: size(16);
      cursor: pointer;
    }
  }
  .search_options{
    color: #B8B4AE;
    display: flex;
    flex-wrap: wrap;
    .search_option_attr{
      &.selected{
        .search_option_attr__title{
          color:$theme_color;
        }
      }
    }
    svg{
      cursor: pointer;
      &.selected{
        .svg_color{
          fill: $theme_color!important;
        }
      }
    }
    &.color_calc{
      width: 100%;
      max-width: 145px;
      .search_options__col{
        width: 100%;
      }
      .search_options__title{
        padding: 0;
        //margin-bottom: 10px;
      }
    }
    &.attr_1{
      max-width: 300px;
    }
    &.attr_2{
      padding-top: 14px;
      .search_options__col{
        margin: 0;
      }
      .search_option_attr{
        &:not(:last-child){
          margin-bottom: 11px;
        }
      }
    }
    &.attr_3{
      justify-content: space-between;
      max-width: 400px;
    }
    &__row{
      width: 100%;
      display: flex;
    }
    &__col{
      margin-bottom: 5px;
      .qt_select{
        border:1px solid transparent;
        box-sizing: border-box;
      }
      &.selected{
        color: $theme_color;
        select{
          color: $theme_color;
          border-color: #B8B4AE;
        }
      }
      .options{
        display: flex;
      }
    }
    &__title{
      padding:0 0 10px 15px;
    }
    &.color_calc{
      .search_options__col{
        text-align: center;
      }
      .search_options__title{
        padding-left: 0;
      }
      .name{
        margin-top: 10px;
        color: $theme_color_gold;
      }
    }
  }
}
.search_option_attr{
  display: flex;
  line-height: 1;
  &__title{
    width: 120px;
    font-size: size(14);
  }
}

.w-50{
  width: 48%!important;
}
