@import "../../../assets/styles/varibles";
@import "../../../assets/styles/mixins";
:host{
  display: block;
  width: 100%;
}
.advanced_search{
  width: 100%;
  position: relative;
  z-index: 2;
  &.open{
    .advanced_search__result{
      display: block;
    }
  }
  &__result{
    font-size: size(12);
    border-radius: 20px 0 20px 20px;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: calc(100% - 85px);
    background: rgba(255,255,255, .96);
    padding: 50px 35px 20px;
    box-sizing: border-box;
    z-index: 0;
    li{
      a{
        &:hover{
          color:$theme_color_gold;
        }
      }
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
  }
  &__form{
    border-radius: 150px;
    overflow: hidden;
    display: flex;
    height: 35px;
    position: relative;
    z-index: 1;
  }
  &__show{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    font-size: size(12);
    color: #B8B4AE!important;
    &:hover{
      text-decoration: underline;
    }
  }
  &__icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }
  $fileld_color: rgba(252,252,252, 1);
  input[type=text], select{
    //background-color: rgba(255,255,255,.5);
    background-color: $fileld_color;
    border:1px solid rgb(229, 229, 229);
    color:#B8B4AE;
    font-family: 'LatoRegular', sans-serif;
    font-size: size(12);
    border-radius: 0;
  }
  .inp{
    width: 100%;
    position: relative;
    display: flex;
  }
  input[type=text]{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 0 36px;
    border-radius: 50px 0 0 50px;
  }
  .qt_btn{
    align-self: stretch;
    border: none;
    margin: -1px;
    text-align: center;
    padding: 0 30px 0 14px;

    font-family: 'LatoBold', sans-serif;
    display: block;
    font-size: size(14);
    cursor: pointer;
  }
  select{
    padding: 0 32px 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 1px;
    background: $fileld_color url("/assets/img/select__icon.svg") calc(100% - 15px) 50% no-repeat;
  }
}
