<div class="advanced_search">
  <div class="advanced_search__result">
    <ul>
      <li>
        <a href="#">American Curl</a>
      </li>
      <li>
        <a href="#">American Curl</a>
      </li>
      <li>
        <a href="#">American Curl</a>
      </li>
    </ul>
  </div>
  <div class="advanced_search__form">
    <div class="inp">
      <svg class="advanced_search__icon" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="tb_index06" transform="translate(-555.000000, -22.000000)" fill-rule="nonzero" fill="#D17E3D" class="svg_color">
            <path d="M564.382064,31.382064 C565.742592,30.0215358 565.751707,27.8247988 564.402423,26.4755146 C563.053139,25.1262304 560.856402,25.1353455 559.495874,26.4958737 C558.135345,27.8564019 558.12623,30.053139 559.475515,31.4024232 C560.824799,32.7517073 563.021536,32.7425923 564.382064,31.382064 Z M565.452646,34.8951281 C562.783525,36.4866621 559.292572,36.1463894 557.01206,33.8658774 C554.313492,31.167309 554.331722,26.773835 557.052779,24.0527786 C559.773835,21.3317221 564.167309,21.3134919 566.865877,24.0120603 C569.146389,26.2925723 569.486662,29.7835246 567.895128,32.4526463 C567.954883,32.4985658 568.012342,32.5488876 568.067066,32.6036116 L570.489802,35.0263476 C571.170066,35.7066117 571.170066,36.8095378 570.489802,37.4898019 C569.809538,38.170066 568.706612,38.170066 568.026348,37.4898019 L565.603612,35.0670659 C565.548888,35.0123418 565.498566,34.9548826 565.452646,34.8951281 L565.452646,34.8951281 Z" id="Combined-Shape"></path>
          </g>
        </g>
      </svg>
      <input type="text">
      <a class="advanced_search__show" (click)="show_adv_search()">Advance Search</a>
    </div>
    <select>
      <option value="0">Any age</option>
      <option value="1">1</option>
      <option value="1">2</option>
    </select>
    <select>
      <option value="0">Any Gender</option>
      <option value="1">Female</option>
      <option value="1">Male</option>
    </select>
    <button type="button" class="qt_btn qt_btn--gold">Search</button>
  </div>
</div>
