@import "varibles";
@function size($n) {
  @return $n/$def_font#{rem};
}

@mixin linear-gradient($color_from, $color_to) {
  background: $color_from;
  background: -moz-linear-gradient(top, $color_from 0%, $color_to 100%);
  background: -webkit-linear-gradient(top, $color_from 0%, $color_to 100%);
  background: linear-gradient(to bottom, $color_from 0%, $color_to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_from, endColorstr=$color_to,GradientType=0 );
}
