<div class="title">
    Log In with social network
</div>
<div class="items">
    <a (click)="login_fb()">
        <img src="./assets/img/login_icon__facebook.svg" alt="">
    </a>
    <a (click)="login_in()">
        <img src="./assets/img/login_icon__inst.svg" alt="">
    </a>
    <a (click)="login_vk()">
        <img src="./assets/img/login_icon__vk.svg" alt="">
    </a>
    <a (click)="login_ok()">
        <img src="./assets/img/login_icon__odn.svg" alt="">
    </a>
</div>