@import "../../../../assets/styles/varibles";
@import "../../../../assets/styles/mixins";
.category{
  background: #fff;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 75px;
    .advanced_search{
      width: calc(100% - 545px);
      margin-right: 12px;
    }
  }
  .slogan{
    color: #3D3F41;
    font-size: size(40);
    line-height: 1;
    font-family: 'LatoLight' , sans-serif;
    max-width: 400px;
    span{
      padding-left: 68px;
    }
  }

  $item_right_margin: 29px;
  .category{
    // display: flex;
    overflow: hidden;
    //margin-right: -#{$item_right_margin};
    position: relative;
    z-index: 0;
    &__arr{
      cursor: pointer;
      position: absolute;
      top: 0;
      width:50px;
      height: 100%;
      display: flex;
      justify-content: center;
      z-index: 2;
      svg{
        margin-top: 26px;
      }
      &:hover{
        svg{

        }
      }
      &--left{
        left: 0;
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 51%, rgba(255,255,255,0.04) 98%, rgba(255,255,255,0.02) 99%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 51%,rgba(255,255,255,0.04) 98%,rgba(255,255,255,0.02) 99%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 51%,rgba(255,255,255,0.04) 98%,rgba(255,255,255,0.02) 99%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
      }
      &--right{
        right: 0;
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.02) 1%, rgba(255,255,255,0.04) 2%, rgba(255,255,255,1) 49%);
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.02) 1%,rgba(255,255,255,0.04) 2%,rgba(255,255,255,1) 49%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.02) 1%,rgba(255,255,255,0.04) 2%,rgba(255,255,255,1) 49%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
        svg{
          transform: rotate(180deg);
        }
      }
    }
    &__item{
      text-align: center;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      // margin-right: $item_right_margin;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      &:hover{
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
      .img{
        img{
          display: block;
          margin: 0 auto 10px;
          border-radius: 50%;
        }
      }
      .text{
        line-height: 1;
        color:#3D3F41;
        font-size: size(12);
      }
      &:hover{
        .text{
          color: $theme_color;
        }
      }
      &--see_all{
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: size(12);
          color: #D17E3D;
          border: 2px solid #D17E3D;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          &:hover{
            background: #D17E3D;
            color: #fff;
          }
        }
      }
    }
  }
}
