<div class="category swiper-container">
  <div class="category__arr category__arr--left">
    <svg width="13px" height="22px" viewBox="0 0 13 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="HOMEPAGE1" transform="translate(-328.000000, -271.000000)" fill="#403F41">
          <path d="M338.062,272.311 L328.378,282.01 L337.9444,291.5886 C338.1834,291.8655 338.3756,292.0415 338.9329,292.0415 C339.4901,292.0415 340.2362,291.2946 340.2362,290.7382 C340.2362,290.1817 340.0616,289.9912 339.7849,289.752 L332.043,282.01 L339.9026,274.1473 C340.1792,273.908 340.3541,273.7178 340.3541,273.1611 C340.3541,272.6044 339.6078,271.8574 339.0505,271.8574 C338.4932,271.8574 338.3013,272.0335 338.062,272.311"
            id="Fill-100"></path>
        </g>
      </g>
    </svg>
  </div>
  <div class="category__arr category__arr--right">
    <svg width="13px" height="22px" viewBox="0 0 13 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="HOMEPAGE1" transform="translate(-328.000000, -271.000000)" fill="#403F41">
          <path d="M338.062,272.311 L328.378,282.01 L337.9444,291.5886 C338.1834,291.8655 338.3756,292.0415 338.9329,292.0415 C339.4901,292.0415 340.2362,291.2946 340.2362,290.7382 C340.2362,290.1817 340.0616,289.9912 339.7849,289.752 L332.043,282.01 L339.9026,274.1473 C340.1792,273.908 340.3541,273.7178 340.3541,273.1611 C340.3541,272.6044 339.6078,271.8574 339.0505,271.8574 C338.4932,271.8574 338.3013,272.0335 338.062,272.311"
            id="Fill-100"></path>
        </g>
      </g>
    </svg>
  </div>
  <div class="swiper-wrapper">
    <div class="category__item swiper-slide" *ngFor="let breed of breedList">
      <div class="img">
        <a (click)="pick(breed)">
          <img src="{{'/assets/images/breeds/sm/' + breed.id + '.jpg'}}" alt="" height="80px" width="80px">
        </a>
      </div>
      <div class="text">
        <a (click)="pick(breed)">{{breed.name}}</a>
      </div>
    </div>
  </div>
</div>