<div class="pop_up_wr--new" id="pop_sign">
    <div class="pop_up pop_up--new">
        <div class="pop_up__top">
            <div class="title">Comfirm Phone</div>
            <span class="close">
                <img src="./assets/img/close_icon.svg" alt="">
            </span>
        </div>
        <div class="pop_up__body">
            <div class="top">
                <img src="./assets/img/mur_meow_icon.svg" alt="">
            </div>
            <form name="phoneform" (ngSubmit)="f.form.valid && confirm()" #f="ngForm" novalidate>
                <div class="input_row" [ngClass]="{ 'is_invalid': f.submitted && !token.valid }">
                    <input type="password" placeholder="code" name="token" [(ngModel)]="confirmModel.token" #token="ngModel" required maxlength="6">
                    <div class="err">
                        code is required
                    </div>
                </div>
                <div class="input_row input_row--submit">
                    <input type="submit" value="Confirm code" class="qt_btn--gold submit_btn">
                </div>
                <div *ngIf="error" class="err__message error">
                    {{error}}
                </div>
            </form>
        </div>
    </div>
</div>